@model List<Portal.Core.ViewModel.SaleDispatchViewModel>
<script src="~/Scripts/jquery.tablesorter.js"></script>
@if (Model != null && Model.Count > 0)
{
    <div style="overflow-x:scroll; padding:10px;">
        <table class="table" id="tblSearchDispatchList">
            <thead>
                <tr>
                    <th align="center">Select</th>
                    <th>Dis. No.</th>
                    <th>Dis. Date</th>
                    <th>Customer Name</th>
                    <th>City</th>
                    <th>State</th>
                    @*<th>Ref. No.</th>*@
                    @*<th>Ref. Date</th>*@
                    <th>Created By</th>
                    <th>Modified By</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="success">
                        <td class="btn btn-success table_btn" style="width:30px; margin:0px 2px auto;">
                            <a style="color:white;text-decoration:none" title="Edit" class="fa fa-pencil-square-o" href="#" onclick="SelectDispatch('@item.DispatchId', '@item.DispatchNo', '@item.DispatchDate', '@item.CustomerId', '@item.CustomerCode', '@item.CustomerName', '@item.City')"></a>
                        </td>
                        <td>
                            @item.DispatchNo
                            <input type="hidden" id="hdnSearchDispatchNo" value="@item.DispatchNo" />
                        </td>
                        <td>
                            @item.DispatchDate
                            <input type="hidden" id="hdnSearchDispatchDate" value="@item.DispatchNo" />
                        </td>
                        <td>@item.CustomerName</td>
                        <td>@item.City</td>
                        <td>@item.StateName</td>
                        <td>@item.CreatedByUserName</td>
                        <td>@item.ModifiedByUserName</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
}
else
{
    <h3 style="color:firebrick;text-align:center">Records not Found!!!</h3>
}
<script>
    $(document).ready(function () {
        $('#tblSearchDispatchList').paging({
            limit:5,
            rowDisplayStyle: 'block',
            activePage: 0,
            rows: []
        });

    });
</script>