@model List<Portal.Core.ViewModel.STNProductDetailViewModel>
@if (Model != null && Model.Count > 0)
{
    <div style="overflow-x:scroll; padding:10px;">
        <table class="table" id="tblSTNProductList">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Product Code</th>
                    <th>Unit</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th colspan="2" align="center" class="editonly">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) 
                {
                    <tr class="success">
                        
                        <td>@item.ProductName
                        <input type="hidden" id="hdnSTNProductDetailId" value="@item.STNProductDetailId" />
                        <input type="hidden" id="hdnProductId" value="@item.ProductId" />
                        <input type="hidden" id="hdnProductName" value="@item.ProductName" />
                        <input type="hidden" id="hdnIsSerializedProduct" value="@item.IsSerializedProduct" />
                        <input type="hidden" id="hdnSequenceNo" value="@item.SequenceNo"/>
                        </td>
                        <td>@item.ProductCode
                        <input type="hidden" id="hdnProductCode" value="@item.ProductCode" />
                        </td>
                        <td>
                         @item.UOMName
                            <input type="hidden" id="hdnUOMName" value="@item.UOMName" />
                        <input type="hidden" id="hdnProductShortDesc" value="@item.ProductShortDesc" />
                            
                        </td>   
                        
                        <td>
                            @item.Price
                        <input type="hidden" id="hdnPrice" value="@item.Price" />
                        </td>
                        <td>
                            @item.Quantity
                            <input type="hidden" id="hdnQuantity" value="@item.Quantity" />
                        </td>
                        <td>
                            @item.TotalPrice
                            <input type="hidden" id="hdnTotalPrice" value="@item.TotalPrice" />
                        </td>
                        <td  style="width:30px; margin:0px 2px auto;" class="editonly">
                            @*<a  class="fa fa-pencil-square-o erp-btn editonly" onclick="EditProductRow(this);" href="#" style="display:none;"></a>*@
                        </td>
                        <td style="width:30px; margin:0px 2px auto;" class="editonly">
                            <a  class="fa fa-trash erp-btn editonly"  onclick="RemoveProductRow(this)" href="#"></a>
                        </td>
                    </tr>
                }
              
            </tbody>
        </table>
    </div>
}
else
{
    <div style="overflow-x:scroll; padding:10px;">
        <table class="table" id="tblSTNProductList">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Product Code</th>
                    <th>Unit</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th colspan="2" align="center" class="editonly showhide">Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
}
<script>
    $(document).ready(function () {

       
        if ($("#hdnAccessMode").val() == "3") {
            $(".editonly").hide();
        }
        if ($("#hdnAccessMode").val() == "4") {
            $(".editonly").hide();
        }

    });
</script>