@model List<Portal.Core.ViewModel.QuotationViewModel>
<script src="~/Scripts/jquery.tablesorter.js"></script>
<style>
.table th {
background: rgba(0, 0, 0, 0) linear-gradient(#375CB0, #6e96e2) repeat scroll 0 0;
color:#fff;
}
 table tr:nth-child(2n+1){
background-color:  #dff0d8 !important;
}
</style>
@if (Model != null && Model.Count > 0)
{
    <div style="overflow-x:scroll;">
        <table class="table table-bordered table-hover" id="tblCountryList">
            <thead>
                <tr>
                    <th colspan="2"><center>Action</center></th>
                    <th><center>Quotation No.</center></th>
                    <th><center>Quotation Date</center></th>
                    <th><center>Company Branch</center></th>
                    <th><center>Location</center></th>
                    <th><center>Customer Name</center></th>
                    <th><center>City</center></th>
                    <th><center>State</center></th>
                    <th><center>Ref. No.</center></th>
                    <th><center>Ref. Date</center></th>
                    <th><center>Gross Amt.</center></th>
                    <th><center>Net Amt.</center></th>
                    <th><center>Revised Status</center></th>
                    <th><center>Quotation Status</center></th>
                    <th><center>Created By</center></th>
                    <th><center>Created Date</center></th>
                    <th><center>Modified By</center></th>
                    <th><center>Modified Date</center></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr class="success">
                    <td class="teal text" style="margin:0px auto;">
                        <a style="color:darkblue" title="View" class="fa fa-eye" aria-hidden="true" href="~/Quotation/AddEditQuotation?QuotationId=@item.QuotationId&AccessMode=3"></a>
                    </td>
                    <td class="teal text" style="margin:0px auto;">
                        @if (item.QuotationRevisedStatus == false && item.ApprovalStatus.ToUpper() == "DRAFT")
                        {
                            <a style="color:darkgreen" title="Edit" class="fa fa-pencil" href="~/Quotation/AddEditQuotation?QuotationId=@item.QuotationId&AccessMode=2"></a>
                        }
                        @if (item.QuotationRevisedStatus == false && item.ApprovalStatus.ToUpper() == "FINAL")
                        {
                            <a style="color:darkgreen" title="Revise" class="fa fa-repeat" href="~/Quotation/AddRevisedQuotation?QuotationId=@item.QuotationId&AccessMode=5"></a>
                        }
                    </td>
                    <td>@item.QuotationNo</td>
                    <td>@item.QuotationDate</td>
                    <td>@item.CompanyBranchName</td>
                    <td>@item.LocationName</td>
                    <td>@item.CustomerName</td>
                    <td>@item.City</td>
                    <td>@item.StateName</td>
                    <td>@item.RefNo</td>
                    <td>@item.RefDate</td>
                    <td>@item.BasicValue</td>
                    <td>@item.TotalValue</td>
                    <td>@(item.QuotationRevisedStatus == true ? "Revised" : "")</td>
                    @if (item.ApprovalStatus.ToUpper() == "DRAFT")
                    {
                        <td style="background-color:aquamarine">
                            @item.ApprovalStatus
                        </td>
                    }
                    else
                    {
                        <td style="background-color:green">
                            @item.ApprovalStatus
                        </td>

                    }


                    <td>@item.CreatedByUserName</td>
                    <td>@item.CreatedDate</td>
                    <td>@item.ModifiedByUserName</td>
                    <td>@item.ModifiedDate</td>
                </tr>
                }

            </tbody>
        </table>
    </div>
}
else
{
    <h3 style="color:firebrick;text-align:center">Records not Found!!!</h3>
}
<script>
    $(document).ready(function () {
        $('#tblCountryList').paging({
            limit:25,
            rowDisplayStyle: 'block',
            activePage: 0,
            rows: []
        });

    });
</script>
<style>
    .btn-success a {
        background-color: #446abc !important;
        border-color: #233e79 !important;
        display: -webkit-inline-box;
        padding: 5px;
    }
</style>