@{
    ViewBag.Title = "AddEditPO";
    Layout = "~/Views/Shared/_PurchaseLayout.cshtml";
}
<link href="~/Content/jquery-ui.css" rel="stylesheet" />
@*<script>
        $(document).ready(function () {
            $('[data-toggle="btnAddNewVendor"]').tooltip();
            $('[data-toggle="btnAddPopupProduct"]').tooltip();
            $('[data-toggle="btnAddPopupProductPurchase"]').tooltip();
            $('[data-toggle="btnSearchWorkOrder"]').tooltip();
        });
    </script>*@

@*<style>

        .tooltip-inner {
            max-width: 350px;
            height: auto;
            border-radius: none;
            min-height: 70px;
            padding: 10px;
            background-color: #393a3d;
            text-align: left;
            margin-left: 60px;
        }

        .tooltip.top .tooltip-arrow {
            bottom: -8px;
            left: 10%;
            margin-left: -5px;
            border-width: 20px 10px 0;
            border-top-color: #393a3d;
        }

        .tooltip.top .tooltip-arrow {
            -webkit-transform: translate(0em) rotate(60deg) rotate(-30deg);
        }
    </style>*@

<style>
    .Mandatory {
        color: red;
        font-weight: bold;
    }

    fieldset.scheduler-border {
        border: 1px groove #ddd !important;
        padding: 0 1.4em 1.4em 1.4em !important;
        margin: 0 0 1.5em 0 !important;
        -webkit-box-shadow: 0px 0px 0px 0px #000;
        box-shadow: 0px 0px 0px 0px #000;
    }


    legend {
        display: block;
        width: 40%;
        padding: 0;
        margin-bottom: 5px;
        font-size: 15px;
        line-height: inherit;
        color: #333;
        border: 0;
        border-bottom: 0px solid #e5e5e5;
    }
    /*** custom checkboxes ***/

    input[type=checkbox] {
        display: none;
    }
        /* to hide the checkbox itself */
        input[type=checkbox] + label:before {
            font-family: FontAwesome;
            display: inline-block;
        }

        input[type=checkbox] + label:before {
            content: "\f096";
        }
        /* unchecked icon */
        input[type=checkbox] + label:before {
            letter-spacing: 10px;
        }
        /* space between checkbox and label */

        input[type=checkbox]:checked + label:before {
            content: "\f046";
        }
        /* checked icon */
        input[type=checkbox]:checked + label:before {
            letter-spacing: 5px;
        }
    /* allow space for check mark */
    .table th {
        background: rgba(0, 0, 0, 0) linear-gradient(#375CB0, #6e96e2) repeat scroll 0 0;
    }

    .table th {
        color: #ffffff;
        text-align: center;
    }

    .table tr {
        text-align: center;
    }
</style>
<div class="row top-head">
    <div class="col-md-12"><p><b><a style="color:#fff;" href="~/Dashboard/PurchaseDashboard"> Purchase </a> >> Add/Edit Purchase Order(PO)</b></p></div>
</div>
<section>
    <form action="#" id="frmAddEditPO" class="form-horizontal as" enctype="multipart/form-data" method="post" accept-charset="utf-8">
        <div class="row inner">
            <div class="message">
            </div>
            <div id="tabs">
                <ul>
                    <li><a href="#tabs-1">PO Detail</a></li>
                    <li><a href="#tabs-2">Terms & Conditions</a></li>
                    <li><a href="#tabs-3">Supporting Document</a></li>
                </ul>
                <div id="tabs-1">
                    <div class="col-md-12 ftop">
                        <div class="form-group col-md-4">
                            <label for="txtPONo" class="col-sm-4 control-label">PO No.</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="txtPONo" name="txtPONo" tabindex="1" placeholder="Auto Generated PO No." type="text" maxlength="100" />
                                <a style="display:none;" class="btn btn-success" id="btnAddNew" tabindex="11" href="@Url.Content("~/PO/AddEditPO?accessMode=1")">New</a>
                                <a style="display:none;color:#fff;" class="btn btn-success" id="btnEmail" tabindex="12" onclick="SendMail()">Email</a>
                                <a style="display:none;" class="btn btn-success" target="_blank" tabindex="13" href="@Url.Action("Report",new {poId=ViewData["poId"], reportType="PDF" })" id="btnPrint">Print</a>
                                <input id="hdnPOId" type="hidden" value="@ViewData["poId"]" />
                                <input id="hdnAccessMode" type="hidden" value="@ViewData["accessMode"]" />
                                <input id="hdnRoleId" type="hidden" value="@ViewData["RoleId"]" />

                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="txtPODate" class="col-sm-4 control-label">PO Date</label>
                            <div class="col-sm-8 ">
                                <input class="form-control" id="txtPODate" name="txtPODate" tabindex="2" placeholder="Enter PO Date" value="@ViewData["currentDate"]" type="text" maxlength="50" />
                                <input id="hdnCurrentDate" name="hdnCurrentDate" value="@ViewData["currentDate"]" type="hidden" />
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="ddlCompanyBranch" class="col-sm-4 control-label">Company Branch&nbsp;<span class="Mandatory">(*)</span></label>
                            <div class="col-sm-8">
                                <select id="ddlCompanyBranch" name="ddlCompanyBranch" tabindex="46" class="form-control"></select>
                                <input id="hdnBillingStateId" type="hidden" value="0" />
                                <input id="hdnSessionCompanyBranchId" type="hidden" value="@ViewData["CompanyBranchId"]" />
                                <input id="hdnSessionUserID" type="hidden" value="@ViewData["UserId"]" />
                            </div>
                        </div>

                    </div>

                    <div class="col-md-12">
                        <div class="form-group col-md-4">
                            <label for="txtQuotationNo" class="col-sm-4 control-label">Quotation No.</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="txtQuotationNo" name="txtQuotationNo" placeholder="Auto Generated Quotation No." type="text" maxlength="100" tabindex="3" />
                                <input id="hdnQuotationId" type="hidden" value="0" />
                            </div>
                            <a class="fa fa-search col-sm-1 editonly" style="padding-top:5px; float: right !important; z-index:500;margin-right: -21px; margin-top: -29px;color: #337ab7;" onclick="OpenPurchaseQuotationSearchPopup()" data-toggle="btnSearchWorkOrder" title="Search Purchase Quotation" id="btnSearchWorkOrder" tabindex="4" href="#"></a>
                        </div>
                        <div class="form-group col-md-4">

                            <label for="txtQuotationDate" id="lblQuotationDate" class="col-sm-4 control-label">Quotation Date</label>
                            <div class="col-sm-8 ">
                                <input class="form-control" id="txtQuotationDate" name="txtQuotationDate" tabindex="14" placeholder="Quotation Date" type="text" maxlength="50" />
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="txtIndentNo" class="col-sm-4 control-label">Indent No.</label>
                            <div class="col-sm-8">
                                <input class="form-control " id="txtIndentNo" name="txtIndentNo" placeholder="Auto Generated Indent No." type="text" maxlength="100" tabindex="15" />
                                <input id="hdnIndentId" type="hidden" value="0" />
                            </div>
                            <a class="fa fa-search col-sm-1 editonly" onclick="OpenPurchaseIndentSearchPopup()" data-toggle="btnSearchWorkOrder" id="btnSearchWorkOrder" title="Search Purchase Indent" tabindex="16" style="padding-top:5px; float: right !important; z-index:500;margin-right: -21px; margin-top: -29px;color: #337ab7;" href="#"></a>
                        </div>


                    </div>
                    <div class="col-md-12">
                        <div class="form-group col-md-4">

                            <label for="txtIndentDate" id="lblIndentDate" class="col-sm-4 control-label">Indent Date</label>
                            <div class="col-sm-8 ">
                                <input class="form-control" id="txtIndentDate" name="txtIndentDate" tabindex="25" placeholder="Indent Date" type="text" maxlength="50" />
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="txtVendorName" class="col-sm-4 control-label">Vendor Name&nbsp;<span class="Mandatory">(*)</span></label>
                            <div class="col-sm-8">
                                <input class="form-control" id="txtVendorName" name="txtVendorName" tabindex="26" placeholder="Enter Vendor Name" type="text" maxlength="100" />
                                <input id="hdnVendorId" type="hidden" value="0" />
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <a class="fa fa-plus-circle col-sm-1 editonly" data-toggle="btnAddNewVendor" onclick="OpenVendorMasterPopup()" id="btnAddNewVendor" tabindex="27" title="Add Vendor" style="padding-top: 2px; font-size: 20px !important; float:left !important;color: #337ab7;right:17px;" href="#"></a>
                            <label for="txtVendorCode" id="lblVendorCode" class="col-sm-3 control-label">Vendor Code</label>
                            <div class="col-sm-8 ">
                                <input class="form-control" id="txtVendorCode" name="txtVendorCode" tabindex="41" placeholder="Vender Code" type="text" maxlength="50" />
                            </div>
                        </div>

                    </div>
                    <div class="col-md-12" style="display:none;" id="divGSTExempt">
                        <div class="form-group col-md-4">
                            <label for="lblGSTExemptStatus" class="col-sm-4 control-label">Vendor Type</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="lblGSTExemptStatus" name="lblGSTExemptStatus" tabindex="73" placeholder="Vendor Type" type="text" maxlength="100" />
                            </div>
                        </div>
                        <div class="form-group col-md-4">

                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group col-md-4">
                            <label for="ddlCurrency" class="col-sm-4 control-label">Currency</label>
                            <div class="col-sm-8">
                                <select id="ddlCurrency" name="ddlCurrency" tabindex="42" class="form-control"></select>
                            </div>


                        </div>
                        <div class="form-group  col-md-4">
                            <label for="txtConsigneeName" class="col-sm-4 control-label">Consignee Name&nbsp;<span class="Mandatory">(*)</span></label>
                            <div class="col-sm-8">

                                <input class="form-control" id="txtConsigneeName" name="txtConsigneeName" tabindex="43" placeholder="Enter Consignee Name" type="text" maxlength="100" readonly="readonly" />
                                <input id="hdnConsigneeId" type="hidden" value="0" />
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="txtConsigneeCode" class="col-sm-4 control-label">Consignee Code</label>
                            <div class="col-sm-8 ">
                                <input class="form-control" id="txtConsigneeCode" name="txtConsigneeCode" tabindex="44" placeholder="Consignee Code" type="text" maxlength="50" readonly="readonly" />
                            </div>
                        </div>



                    </div>

                    <div class="col-md-12">

                        <div class="form-group col-md-4">
                            <label for="txtDeliveryDate" class="col-sm-4 control-label">Exp. Delivery Date&nbsp;<span class="Mandatory">(*)</span></label>
                            <div class="col-sm-8 ">
                                <input class="form-control" id="txtDeliveryDate" name="txtDeliveryDate" tabindex="45" placeholder="Select Expected Delivery Date" value="@ViewData["currentDate"]" type="text" maxlength="50" />
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="txtRefNo" class="col-sm-4 control-label">Ref. No.</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="txtRefNo" name="txtRefNo" tabindex="47" placeholder="Enter Reference No." type="text" maxlength="100" />
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="txtRefDate" class="col-sm-4 control-label">Ref. Date</label>
                            <div class="col-sm-8 ">
                                <input class="form-control" id="txtRefDate" name="txtRefDate" tabindex="48" placeholder="Enter Reference Date" type="text" maxlength="50" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group col-md-4">
                            <label for="txtRemarks1" class="col-sm-4 control-label">PO Type</label>
                            <div class="col-sm-8">
                                <select id="ddlPOType" name="ddlPOType" tabindex="13" onchange="CurrencyConversionRate();" class="form-control">
                                    <option value="0">-Select PO Type-</option>
                                    <option value="Retail">Retail</option>
                                    <option value="Import">Import</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="txtCurrencyConversionRate" class="col-sm-4 control-label">Currency Conversion Rate (INR)</label>
                            <div class="col-sm-8">
                                <input class="form-control input-number" id="txtCurrencyConversionRate" name="txtCurrencyConversionRate" tabindex="1" onkeyup="checkDec(this);" placeholder="Currency Conversion Rate" type="text" maxlength="50">

                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="txtRemarks1" class="col-sm-4 control-label">Remarks 1</label>
                            <div class="col-sm-8">
                                <textarea class="form-control" id="txtRemarks1" name="txtRemarks1" tabindex="49" rows="2" cols="50" maxlength="500"> </textarea>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">

                        <div class="form-group col-md-4">
                            <label for="txtRemarks2" class="col-sm-4 control-label">Remarks 2</label>
                            <div class="col-sm-8">
                                <textarea class="form-control" id="txtRemarks2" name="txtRemarks2" tabindex="50" rows="2" cols="50" maxlength="500"> </textarea>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 billing-details" id="accordion">
                        <h4 data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="panel-title expand" style="background:rgba(0, 0, 0, 0) linear-gradient(#375CB0, #6e96e2) repeat scroll 0 0; padding:10px;">
                            <div class="right-arrow pull-right" style="font-weight:bold; color:#fff;">+</div>
                            <a href="#" tabindex="51" style="font-weight:bold; color:#fff;">Vendor And Delivery Address  Details</a>
                        </h4>

                        <div id="collapse1" class="panel-collapse collapse">

                            <div class="col-md-12 ftop">
                                <div class="col-md-6">
                                    <fieldset class="scheduler-border">
                                        <legend class="scheduler-border">Vendor Address</legend>
                                        <div class="form-group">
                                            <label class="col-sm-1 control-label"></label>
                                            <div class="col-sm-10">
                                                &nbsp;
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="txtBAddress" class="col-sm-4 control-label">Address&nbsp;<span class="Mandatory">(*)</span></label>
                                            <div class="col-sm-8">
                                                <input class="form-control" id="txtBAddress" name="txtBAddress" tabindex="52" placeholder="Enter Billing Address" type="text" maxlength="250" />
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label for="txtBCity" class="col-sm-4 control-label">City&nbsp;<span class="Mandatory">(*)</span></label>
                                            <div class="col-sm-8">
                                                <input class="form-control" id="txtBCity" name="txtBCity" tabindex="53" placeholder="Enter City" type="text" maxlength="50" />
                                                <input type="hidden" id="ddlBCountry" value="0" />
                                                <input type="hidden" id="ddlBState" value="0" />
                                                <input type="hidden" id="txtBPinCode" value="" />
                                                <input type="hidden" id="txtBTINNo" value="" />
                                                <input type="hidden" id="txtBGSTNo" value="" />
                                                <input type="hidden" id="txtBExciseNo" value="" />
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="col-md-6">
                                    <fieldset class="scheduler-border">
                                        <legend class="scheduler-border">Delivery Address</legend>
                                        <div class="form-group">
                                            <label for="ddlSCustomerBranch" class="col-sm-4 control-label">Branch</label>
                                            <div class="col-sm-8">
                                                <select id="ddlSCustomerBranch" name="ddlSCustomerBranch" onchange="FillShippingAddress()" tabindex="54" class="form-control"></select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="txtShippingAddress" class="col-sm-4 control-label">Shipping Address&nbsp;<span class="Mandatory">(*)</span></label>
                                            <div class="col-sm-8">
                                                <input class="form-control" id="txtShippingAddress" name="txtAddress" tabindex="55" placeholder="Enter Shipping Address" type="text" maxlength="250" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="txtSCity" class="col-sm-4 control-label">City&nbsp;<span class="Mandatory">(*)</span></label>
                                            <div class="col-sm-8">
                                                <input class="form-control" id="txtSCity" name="txtSCity" tabindex="56" placeholder="Enter City" type="text" maxlength="50" />
                                                <input type="hidden" id="ddlSCountry" value="0" />
                                                <input type="hidden" id="ddlSState" value="0" />
                                                <input type="hidden" id="txtSPinCode" value="" />
                                                <input type="hidden" id="txtSGSTNo" value="" />
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 ftop" id="divCreated" style="display:none;">
                        <div class="form-group col-md-4">
                            <label for="txtCreatedBy" class="col-sm-4 control-label">Created By</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="txtCreatedBy" name="txtCreatedBy" placeholder="Created By User Name" type="text" maxlength="100" />
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="txtCreatedDate" class="col-sm-4 control-label">Created Date</label>
                            <div class="col-sm-8 ">
                                <input class="form-control" id="txtCreatedDate" name="txtCreatedDate" placeholder="Created Date" type="text" maxlength="50" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 ftop" id="divModified" style="display:none;">
                        <div class="form-group col-md-4">
                            <label for="txtModifiedBy" class="col-sm-4 control-label">Modified By</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="txtModifiedBy" name="txtModifiedBy" placeholder="Modified By User Name" type="text" maxlength="100" />
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="txtModifiedDate" class="col-sm-4 control-label">Modified Date</label>
                            <div class="col-sm-8 ">
                                <input class="form-control" id="txtModifiedDate" name="txtModifiedDate" placeholder="Modified Date" type="text" maxlength="50" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 ftop" id="divReject" style="display:none;">
                        <div class="form-group col-md-4">
                            <label for="txtRejectReason" class="col-sm-4 control-label">Rejection Reason</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="txtRejectReason" name="txtRejectReason" placeholder="Rejection Reason" type="text" maxlength="1000" />
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="txtRejectedDate" class="col-sm-4 control-label">Rejected Date</label>
                            <div class="col-sm-8 ">
                                <input class="form-control" id="txtRejectedDate" name="txtRejectedDate" placeholder="Rejected Date" type="text" maxlength="50" />
                            </div>
                        </div>

                    </div>
                    <div class="col-md-12  ftop">
                        <div class="form-group col-md-4">

                        </div>
                        <div class="form-group col-md-4" style="background-color:yellow">
                            <h4><label class="col-sm-12 " style="color:#000;text-decoration:underline;text-align:center;"><b>Product Detail</b></label></h4>
                        </div>
                        <div class="form-group col-md-4">
                            <input class="btn btn-success editonly" value="Add New Product" tabindex="57" alt="Add New Product" id="btnAddNewProduct" onclick="validateStateSelection(1)" type="button" border="0">
                        </div>

                    </div>
                    <div class="col-md-12 productsection" style="display:none;">
                        <div class="form-group col-md-4">
                            <label for="txtProductName" class="col-sm-4 control-label">Product Name&nbsp;<span class="Mandatory">(*)</span></label>
                            <div class="col-sm-8">
                                <input class="form-control" id="txtProductName" name="txtProductName" tabindex="58" placeholder="Enter Product Name" type="text" maxlength="100" />
                                <input id="hdnProductId" type="hidden" value="0" />
                                <input id="hdnPOProductDetailId" type="hidden" value="0" />
                                <input id="hdnSequenceNo" type="hidden" value="0" />

                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <div class="col-sm-1">
                                <a class="fa fa-plus-circle  col-sm-1" data-toggle="btnAddPopupProduct" onclick="ShowHideProductModel();" tabindex="56" style="padding-top: 2px; font-size: 27px !important; float:left !important;color: #337ab7;right:17px;" id="btnAddPopupProduct" title="Add New Product" style="padding-top:10px; float:left !important;color: #337ab7;right:17px;" href="javascript:void(0)"></a>
                            </div>
                            <div class="col-sm-1">

                                <a class="fa fa-info-circle  col-sm-1" data-toggle="btnAddPopupProductPurchase" title="See Previous Purchases of this Product" tabindex="74" style="padding-top: 2px; font-size: 27px !important; float:left !important;color: #337ab7;right:17px;" onclick="ShowHideProductPurchaseModel();" id="btnAddPopupProductPurchase" style="padding-top:10px; float:left !important;color: #337ab7;right:17px;" href="#"></a>
                            </div>
                            <label for="txtProductCode" class="col-sm-2 control-label">Product Code</label>
                            <div class="col-sm-8">
                                <input id="txtProductCode" name="txtProductCode" placeholder="Product Code" tabindex="78" type="text" maxlength="50" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="txtProductShortDesc" class="col-sm-4 control-label">Product Desc</label>
                            <div class="col-sm-8">
                                <input id="txtProductShortDesc" name="txtProductShortDesc" type="text" tabindex="79" maxlength="250" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 productsection" style="display:none;">
                        <div class="form-group col-md-4">
                            <label for="txtQuantity" class="col-sm-4 control-label">Quantity&nbsp;<span class="Mandatory">(*)</span></label>
                            <div class="col-sm-8">
                                <input id="txtQuantity" name="txtQuantity" tabindex="80" type="text" placeholder="Enter Quantity" onkeyup="checkDec(this); CalculateTotalCharges();" maxlength="23" class="form-control  Quantity" />
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="txtPrice" class="col-sm-4 control-label">Price&nbsp;<span class="Mandatory">(*)</span></label>
                            <div class="col-sm-8">
                                <input class="form-control Quantity" id="txtPrice" name="txtPrice" onkeyup="checkDec(this); CalculateTotalCharges();" tabindex="78" placeholder="Enter Price" type="text" maxlength="12" />
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="txtUOMName" class="col-sm-4 control-label">Unit</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="txtUOMName" name="txtUOMName" tabindex="81" placeholder="Unit" type="text" maxlength="50" />
                            </div>
                        </div>


                    </div>
                    <div class="col-md-12 productsection" style="display:none;">

                        <div class="form-group col-md-4">
                            <label for="txtDiscountPerc" class="col-sm-4 control-label">Discount(%)</label>
                            <div class="col-sm-8">
                                <input class="form-control Quantity" id="txtDiscountPerc" name="txtDiscountPerc" onkeyup="checkDec(this); CalculateTotalCharges();" tabindex="80" placeholder="Enter Discount(%)" type="text" maxlength="12" />
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="txtDiscountAmount" class="col-sm-4 control-label">Discount</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="txtDiscountAmount" name="txtDiscountAmount" tabindex="83" placeholder="Discount Value" type="text" maxlength="50" />
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="txtHSN_Code" class="col-sm-4 control-label">HSN Code</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="txtHSN_Code" name="txtHSN_Code" tabindex="85" placeholder="HSN Code" type="text" maxlength="100" />
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-12 col-lg-12 col-md-12" style="display:none;">
                        <div class="form-group col-md-4">
                            <label for="txtProductTaxName" class="col-sm-4 control-label">Tax</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="txtProductTaxName" name="txtProductTaxName" placeholder="Enter Tax Name" type="text" maxlength="100" />
                                <input id="hdnProductTaxId" type="hidden" value="0" />
                                <input id="hdnProductTaxPerc" type="hidden" value="0" />

                                <input id="hdnProductSurchargeName_1" type="hidden" value="" />
                                <input id="hdnProductSurchargePercentage_1" type="hidden" value="0" />
                                <input id="hdnProductSurchargeName_2" type="hidden" value="" />
                                <input id="hdnProductSurchargePercentage_2" type="hidden" value="0" />
                                <input id="hdnProductSurchargeName_3" type="hidden" value="" />
                                <input id="hdnProductSurchargePercentage_3" type="hidden" value="0" />
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="txtProductTaxAmount" class="col-sm-4 control-label">Tax Amount</label>
                            <div class="col-sm-8">
                                <input id="txtProductTaxAmount" name="txtProductTaxAmount" type="hidden" />
                                <input id="txtProductSurchargeAmount_1" name="txtProductSurchargeAmount_1" type="hidden" />
                                <input id="txtProductSurchargeAmount_2" name="txtProductSurchargeAmount_2" type="hidden" />
                                <input id="txtProductSurchargeAmount_3" name="txtProductSurchargeAmount_3" type="hidden" />
                                <input id="txtProductTotalTaxAmount" name="txtProductTotalTaxAmount" type="text" maxlength="12" class="form-control input-number right-text" />
                            </div>
                        </div>



                    </div>
                    <div class="col-sm-12 col-lg-12 col-md-12 productsection" style="display:none;">
                        <div class="form-group col-md-4">
                            <label for="txtCGSTPerc" class="col-sm-4 control-label">CGST Perc</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="txtCGSTPerc" name="txtCGSTPerc" tabindex="85" onkeyup="checkDec(this); CalculateTotalCharges();" placeholder="Enter CGST Percentage" type="text" maxlength="100" />
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="txtCGSTPercAmount" class="col-sm-4 control-label"></label>
                            <div class="col-sm-8">
                                <input class="form-control" id="txtCGSTPercAmount" name="txtCGSTPercAmount" tabindex="87" placeholder="CGST Amount" type="text" maxlength="100" />
                            </div>
                        </div>
                        <div class="form-group col-md-4">

                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-12 col-md-12 productsection" style="display:none;">
                        <div class="form-group col-md-4">
                            <label for="txtSGSTPerc" class="col-sm-4 control-label">SGST Perc</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="txtSGSTPerc" name="txtSGSTPerc" tabindex="88" onkeyup="checkDec(this); CalculateTotalCharges();" placeholder="Enter SGST Percentage" type="text" maxlength="100" />
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="txtCGSTPercAmount" class="col-sm-4 control-label"></label>
                            <div class="col-sm-8">
                                <input class="form-control" id="txtSGSTPercAmount" name="txtSGSTPercAmount" tabindex="89" placeholder="SGST Amount" type="text" maxlength="100" />
                            </div>
                        </div>
                        <div class="form-group col-md-4">

                        </div>
                    </div>

                    <div class="col-sm-12 col-lg-12 col-md-12 productsection" style="display:none;">
                        <div class="form-group col-md-4">
                            <label for="txtIGSTPerc" class="col-sm-4 control-label">IGST Perc</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="txtIGSTPerc" name="txtIGSTPerc" tabindex="90" onkeyup="checkDec(this); CalculateTotalCharges();" placeholder="Enter IGST Percentage" type="text" maxlength="100" />
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="txtIGSTPercAmount" class="col-sm-4 control-label"></label>
                            <div class="col-sm-8">
                                <input class="form-control" id="txtIGSTPercAmount" name="txtIGSTPercAmount" tabindex="91" placeholder="IGST Amount" type="text" maxlength="100" />

                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="txtTotalPrice" class="col-sm-4 control-label">Total Price</label>
                            <div class="col-sm-8">
                                <input id="txtTotalPrice" name="txtTotalPrice" type="text" tabindex="92" maxlength="12" class="form-control  input-number right-text" />
                            </div>
                        </div>

                    </div>
                    <div class="col-md-12 productsection" style="display:none;">
                        <div class="form-group col-md-4">
                            <label for="txtExpDeliveryDate" class="col-sm-4 control-label">Exp. Delivery Date</label>
                            <div class="col-sm-8 ">
                                <input class="form-control" id="txtExpDeliveryDate" name="txtExpDeliveryDate" tabindex="45" placeholder="Select Expected Delivery Date" type="text" maxlength="50" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-12 col-md-12 productsection" style="display:none;">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <center>
                                <input class="btn btn-success" value="Add Product" alt="Add Product" id="btnAddProduct" tabindex="93" onclick="AddProduct(1)" type="button" border="0">
                                <input class="btn btn-success" value="Update Product" style="display:none;" tabindex="94" alt="Update Product" id="btnUpdateProduct" onclick="AddProduct(2)" type="button" border="0">
                                <input class="btn btn-success" type="button" id="btnCancelProduct" tabindex="95" onclick="ShowHideProductPanel(2)" value="Cancel" />
                            </center>
                        </div>
                        <div class="col-md-3"></div>
                    </div>

                    <div class="col-sm-12 col-lg-12 col-md-12">
                        <div id="divProductList">

                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group col-md-4">

                        </div>
                        <div class="form-group col-md-2">

                        </div>
                        <div class="form-group col-md-6">
                            <h4><label for="txtBasicValue" class="col-sm-4 " style="color:#000;text-align:center;"><b>Sub Total</b></label></h4>
                            <div class="col-sm-8">
                                <input id="txtBasicValue" name="txtBasicValue" type="text" tabindex="96" maxlength="32" class="form-control input-number right-text" />
                            </div>

                        </div>

                    </div>

                    <div class="col-md-12 ftop" style="display:none;">
                        <div class="form-group col-md-4">
                        </div>
                        <div class="form-group col-md-4" style="background-color:yellow">
                            <h4><label class="col-sm-12 " style="color:#000;text-decoration:underline;text-align:center;"><b>Tax Detail</b></label></h4>
                        </div>
                        <div class="form-group col-md-4">
                            <input class="btn btn-success editonly" value="Add New Tax" alt="Add New Tax" id="btnAddNewTax" onclick="ShowHideTaxPanel(1)" type="button" border="0">
                        </div>

                    </div>
                    <div class="col-md-12 taxsection" style="display:none;">
                        <div class="form-group col-md-4">
                            <label for="txtTaxName" class="col-sm-4 control-label">Tax&nbsp;<span class="Mandatory">(*)</span></label>
                            <div class="col-sm-8">
                                <input class="form-control" id="txtTaxName" name="txtTaxName" placeholder="Enter Tax Name" type="text" maxlength="100" />
                                <input id="hdnTaxId" type="hidden" value="0" />
                                <input id="hdnPOTaxDetailId" type="hidden" value="0" />
                                <input id="hdnTaxSequenceNo" type="hidden" value="0" />
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="txtTaxPercentage" class="col-sm-6 control-label">Tax (%)</label>
                            <div class="col-sm-6">
                                <input id="txtTaxPercentage" name="txtTaxPercentage" type="text" maxlength="12" class="form-control input-number right-text" />
                            </div>
                        </div>
                        <div class="form-group col-md-5">
                            <label for="txtTaxAmount" class="col-sm-4 control-label">Tax Amount</label>
                            <div class="col-sm-8">
                                <input id="txtTotalTaxAmount" name="txtTotalTaxAmount" type="text" maxlength="12" class="form-control input-number right-text" />
                                <input id="txtSurchargeAmount_1" name="txtSurchargeAmount_1" type="hidden" />
                                <input id="txtSurchargeAmount_2" name="txtSurchargeAmount_2" type="hidden" />
                                <input id="txtSurchargeAmount_3" name="txtSurchargeAmount_3" type="hidden" />
                                <input id="txtTaxAmount" type="hidden" />
                                <input id="hdnSurchargeName_1" type="hidden" value="" />
                                <input id="hdnSurchargePercentage_1" type="hidden" value="0" />
                                <input id="hdnSurchargeName_2" type="hidden" value="" />
                                <input id="hdnSurchargePercentage_2" type="hidden" value="0" />
                                <input id="hdnSurchargeName_3" type="hidden" value="" />
                                <input id="hdnSurchargePercentage_3" type="hidden" value="0" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-12 col-md-12 taxsection" style="display:none;">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <center>
                                <input class="btn btn-success" value="Add Tax" alt="Add Tax" id="btnAddTax" onclick="AddTax(1)" type="button" border="0">
                                <input class="btn btn-success" value="Update Tax" style="display:none;" alt="Update Tax" id="btnUpdateTax" onclick="AddTax(2)" type="button" border="0">
                                <input class="btn btn-success" type="button" id="btnCancelTax" onclick="ShowHideTaxPanel(2)" value="Cancel" />
                            </center>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="col-sm-12 col-lg-12 col-md-12" style="display:none;">
                        <div id="divTaxList">

                        </div>
                    </div>

                    <div class="col-md-12 ftop">
                        <div class="form-group col-md-3">
                            <label for="txtLoadingValue" class="col-sm-6" style="color:#000;text-align:center;">Loading/ Packing</label>
                            <div class="col-sm-6" style="float:right !important">
                                <input id="txtLoadingValue" name="txtLoadingValue" type="text" onkeyup="checkDec(this); CalculateLoadingTotalCharges(); CalculateGrossandNetValues();" placeholder="Loading Value" tabindex="97" maxlength="12" class="form-control Quantity" />
                            </div>
                        </div>

                        <div class="form-group col-md-3">
                            <label for="txtLoadingCGST_Amt" class="col-sm-6" style="color:#000;text-align:center;">CGST Amt</label>
                            <div class="col-sm-6">
                                <input id="txtLoadingCGST_Amt" name="txtLoadingCGST_Amt" tabindex="98" placeholder="CGST Amount" type="text" maxlength="20" class="form-control input-number right-text" />
                                <input type="hidden" id="hdnLoadingCGST_Perc" value="0" />
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="txtLoadingSGST_Amt" class="col-sm-6" style="color:#000;text-align:center;">SGST Amt</label>
                            <div class="col-sm-6">
                                <input id="txtLoadingSGST_Amt" name="txtLoadingSGST_Amt" tabindex="99" type="text" maxlength="20" placeholder="SGST Amount" class="form-control input-number right-text" />
                                <input type="hidden" id="hdnLoadingSGST_Perc" value="0" />
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="txtLoadingIGST_Amt" class="col-sm-6" style="color:#000;text-align:center;">IGST Amt</label>
                            <div class="col-sm-6">
                                <input id="txtLoadingIGST_Amt" name="txtLoadingIGST_Amt" type="text" tabindex="100" maxlength="20" placeholder="IGST Amount" class="form-control input-number right-text" />
                                <input type="hidden" id="hdnLoadingIGST_Perc" value="0" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group col-md-3">
                            <label for="txtFreightValue" class="col-sm-6" style="color:#000;text-align:center;">Freight & Cartage</label>
                            <div class="col-sm-6" style="float:right !important">
                                <input id="txtFreightValue" name="txtFreightValue" type="text" onkeyup="checkDec(this); CalculateFreightTotalCharges(); CalculateGrossandNetValues();" placeholder="Freight & Cartage" tabindex="101" maxlength="12" class="form-control Quantity" />
                            </div>
                        </div>

                        <div class="form-group col-md-3">
                            <label for="txtFreightCGST_Amt" class="col-sm-6" style="color:#000;text-align:center;">CGST Amt</label>
                            <div class="col-sm-6">
                                <input id="txtFreightCGST_Amt" name="txtFreightCGST_Amt" tabindex="102" placeholder="CGST Amount" type="text" maxlength="20" class="form-control input-number right-text" />
                                <input type="hidden" id="hdnFreightCGST_Perc" value="0" />
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="txtFreightSGST_Amt" class="col-sm-6" style="color:#000;text-align:center;">SGST Amt</label>
                            <div class="col-sm-6">
                                <input id="txtFreightSGST_Amt" name="txtFreightSGST_Amt" tabindex="103" type="text" maxlength="20" placeholder="SGST Amount" class="form-control input-number right-text" />
                                <input type="hidden" id="hdnFreightSGST_Perc" value="0" />
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="txtFreightIGST_Amt" class="col-sm-6" style="color:#000;text-align:center;">IGST Amt</label>
                            <div class="col-sm-6">
                                <input id="txtFreightIGST_Amt" name="txtFreightIGST_Amt" type="text" tabindex="104" maxlength="20" placeholder="IGST Amount" class="form-control input-number right-text" />
                                <input type="hidden" id="hdnFreightIGST_Perc" value="0" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group col-md-3">
                            <label for="txtInsuranceValue" class="col-sm-6" style="color:#000;text-align:center;">Insurance</label>
                            <div class="col-sm-6" style="float:right !important">
                                <input id="txtInsuranceValue" name="txtInsuranceValue" type="text" onkeyup="checkDec(this); CalculateInsuranceTotalCharges(); CalculateGrossandNetValues();" placeholder="Insurance" tabindex="105" maxlength="12" class="form-control Quantity" />

                            </div>
                        </div>

                        <div class="form-group col-md-3">
                            <label for="txtInsuranceCGST_Amt" class="col-sm-6" style="color:#000;text-align:center;">CGST Amt</label>
                            <div class="col-sm-6">
                                <input id="txtInsuranceCGST_Amt" name="txtInsuranceCGST_Amt" tabindex="106" placeholder="CGST Amount" type="text" maxlength="20" class="form-control input-number right-text" />
                                <input type="hidden" id="hdnInsuranceCGST_Perc" value="0" />

                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="txtInsuranceSGST_Amt" class="col-sm-6" style="color:#000;text-align:center;">SGST Amt</label>
                            <div class="col-sm-6">
                                <input id="txtInsuranceSGST_Amt" name="txtInsuranceSGST_Amt" tabindex="107" type="text" maxlength="20" placeholder="SGST Amount" class="form-control input-number right-text" />
                                <input type="hidden" id="hdnInsuranceSGST_Perc" value="0" />

                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="txtInsuranceIGST_Amt" class="col-sm-6" style="color:#000;text-align:center;">IGST Amt</label>
                            <div class="col-sm-6">
                                <input id="txtInsuranceIGST_Amt" name="txtInsuranceIGST_Amt" type="text" tabindex="108" maxlength="20" placeholder="IGST Amount" class="form-control input-number right-text" />
                                <input type="hidden" id="hdnInsuranceIGST_Perc" value="0" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group col-md-4">
                            <label for="chkReverseChargeApplicable" class="col-sm-4 control-label">Reverse Charge Applicable</label>
                            <div class="col-sm-8">
                                <input type="checkbox" id="chkReverseChargeApplicable" onclick="changeReverseChargeStatus()" name="chkReverseChargeApplicable" />
                                <label style="font-size: 24px; " tabindex="109" for="chkReverseChargeApplicable"></label>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="txtReverseChargeAmount" class="col-sm-4 control-label">Reverse Charge</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="txtReverseChargeAmount" disabled="disabled" name="txtReverseChargeAmount" tabindex="110" placeholder="Enter Reverse Charge Amount" type="text" maxlength="10" />
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <h5><label for="txtTotalValue" class="col-sm-4 " style="color:#000;text-align:center;"><b>Net Amount</b></label></h5>
                            <div class="col-sm-8" style="float:right !important">
                                <input id="txtTotalValue" name="txtTotalValue" type="text" tabindex="111" maxlength="12" class="form-control input-number right-text" />
                            </div>

                        </div>

                    </div>


                    <div class="col-md-12">
                        <div class="form-group col-md-4" style="visibility:hidden">
                            <h5><label for="txtTotalValue" class="col-sm-4 " style="color:#000;text-align:center;"><b>Net Amount</b></label></h5>
                            <div class="col-sm-8" style="float:right !important">

                            </div>

                        </div>
                        <div class="form-group col-md-4" align="center">
                            <input class="btn btn-success" value="Recalculate" alt="Recalculate" id="btnReCalculate" tabindex="112" onclick="SetGSTPercentageInProduct();" type="button" border="0">
                        </div>
                        <div class="form-group col-md-4" style="visibility:hidden">
                            <h5><label for="txtTotalValue" class="col-sm-4 " style="color:#000;text-align:center;"><b>Net Amount</b></label></h5>
                            <div class="col-sm-8" style="float:right !important">

                            </div>

                        </div>

                    </div>

                </div>
                    <div id="tabs-2">
                        <div class="col-md-12 ftop">
                            <div class="form-group col-md-6">
                                <label for="ddlTermTemplate" class="col-sm-4 control-label">Terms Template</label>
                                <div class="col-sm-8">
                                    <select id="ddlTermTemplate" name="ddlTermTemplate" onchange="BindTermsDescription()" tabindex="113" class="form-control"></select>
                                    <input id="hdnPOTermDetailId" type="hidden" value="0" />

                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <div class="col-sm-8 ">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12  ftop">
                            <div class="form-group col-md-4">

                            </div>
                            <div class="form-group col-md-4" style="background-color:yellow">
                                <h4><label class="col-sm-12 " style="color:#000;text-decoration:underline;text-align:center;"><b>Term(s) Detail</b></label></h4>
                            </div>
                            <div class="form-group col-md-4">
                                <input class="btn btn-success editonly" value="Add New Term" alt="Add New Term" tabindex="114" id="btnAddNewTerm" onclick="ShowHideTermPanel(1)" type="button" border="0">
                            </div>
                        </div>
                        <div class="col-md-12 termsection" style="display:none;">
                            <div class="form-group col-md-6">
                                <label for="txtTermDesc" class="col-sm-4 control-label">Term Desc&nbsp;<span class="Mandatory">(*)</span></label>
                                <div class="col-sm-8">
                                    <textarea class="form-control" id="txtTermDesc" name="txtTermDesc" tabindex="115" rows="4" cols="50" maxlength="500"> </textarea>
                                    <input id="hdnPOTermDetailId" type="hidden" value="0" />
                                    <input id="hdnTermSequence" type="hidden" value="0" />

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-12 col-md-12 termsection" style="display:none;">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <center>
                                    <input class="btn btn-success" value="Add Term" alt="Add Term" id="btnAddTerm" tabindex="116" onclick="AddTerm(1)" type="button" border="0">
                                    <input class="btn btn-success" value="Update Term" style="display:none;" tabindex="116" alt="Update Term" id="btnUpdateTerm" onclick="AddTerm(2)" type="button" border="0">
                                    <input class="btn btn-success" type="button" id="btnCancelTerm" tabindex="117" onclick="ShowHideTermPanel(2)" value="Cancel" />
                                </center>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="col-sm-12 col-lg-12 col-md-12">
                            <div id="divTermList">

                            </div>
                        </div>
                    </div>
                    <div id="tabs-3">
                        <div class="col-md-12  ftop">
                            <div class="form-group col-md-4">

                            </div>
                            <div class="form-group col-md-4" style="background-color:yellow">
                                <h4><label class="col-sm-12 " style="color:#000;text-decoration:underline;text-align:center;"><b>Document(s) Detail</b></label></h4>
                            </div>
                            <div class="form-group col-md-4">

                                <input class="btn btn-success editonly" value="Add New Document" alt="Add New Document" id="btnAddNewDocument" tabindex="118" onclick="ShowHideDocumentPanel(1)" type="button" border="0">
                            </div>
                        </div>
                        <div class="col-md-12 documentsection" style="display:none;">
                            <div class="form-group col-md-6">
                                <label for="ddlDocumentType" class="col-sm-4 control-label">Document TypeTerm Desc&nbsp;<span class="Mandatory">(*)</span></label>
                                <div class="col-sm-8">
                                    <select id="ddlDocumentType" name="ddlDocumentType" tabindex="119" class="form-control"></select>
                                    <input id="hdnPODocId" type="hidden" value="0" />
                                    <input id="hdnDocumentSequence" type="hidden" value="0" />
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="FileUpload1" class="col-sm-4 control-label">Upload Files</label>
                                <div class="col-sm-8">
                                    <input type="file" id="FileUpload1" tabindex="120" name="FileUpload1" />
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-12 col-lg-12 col-md-12 documentsection" style="display:none;">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <center>
                                    <input class="btn btn-success" value="Add Document" alt="Add Document" tabindex="121" id="btnAddDocument" onclick="SaveDocument()" type="button" border="0">
                                    <input class="btn btn-success" value="Update Document" style="display:none;" tabindex="121" alt="Update Document" id="btnUpdateDocument" onclick="SaveDocument()" type="button" border="0">
                                    <input class="btn btn-success" type="button" id="btnCancelDocument" tabindex="122" onclick="ShowHideDocumentPanel(2)" value="Cancel" />
                                </center>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="col-sm-12 col-lg-12 col-md-12">
                            <div id="divDocumentList">

                            </div>
                        </div>
                    </div>

                </div>
        <div class="row col-sm-12 col-lg-12 col-md-12 ftop">
                <div class="col-md-3">
                    <label for="ddlApprovalStatus" class="col-sm-6 control-label">Save Mode</label>
                    <div class="col-sm-6">
                        <select id="ddlApprovalStatus" name="ddlApprovalStatus" tabindex="123" class="form-control">
                            <option value="Final">Final</option>
                            <option selected="selected" value="Draft">Draft</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <center>
                        <input class="btn btn-success" value="Save" alt="Save" id="btnSave" tabindex="124" onclick="ExecuteSave(1)" type="button" border="0">
                        <input class="btn btn-success" value="Update" style="display:none;" tabindex="124" alt="Update" id="btnUpdate" onclick="ExecuteSave(2)" type="button" border="0">
                        <a class="btn btn-success" id="btnReset" tabindex="127" onclick="ResetPage();">Reset</a>
                        <a class="btn btn-success" id="btnList" tabindex="128" href="@Url.Content("~/PO/ListPO")">Search PO</a>
                    </center>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="alertModel" tabindex="125" role="dialog">
            <div class="modal-dialog  modal-sm">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" tabindex="126" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" id="modelHeader"></h4>
                    </div>
                    <div class="modal-body">
                        <p id="modelText"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary  btn-block" tabindex="126" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

        <div class="modal fade" id="SearchPurchaseQuotationModel" role="dialog" style="z-index:99999;">
            <div class="modal-dialog  modal-lg" style="z-index:99999;">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" tabindex="4" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Search Purchase Quotation</h4>
                    </div>

                    <div class="">
                        <div class="col-md-12 ftop">
                            <div class="form-group col-md-6">
                                <label for="txtSearchQuotationNo" class="col-sm-4 control-label">Purchase Quotation No.</label>
                                <div class="col-sm-8 ">
                                    <input class="form-control" id="txtSearchQuotationNo" name="txtSearchQuotationNo" tabindex="5" placeholder="Search with Quotation No." type="text" maxlength="50" />
                                </div>
                            </div>
                            <div class="form-group  col-md-6">
                                <label for="txtSearchVendorName" class="col-sm-4 control-label">Vendor Name</label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="txtSearchVendorName" name="txtSearchVendorName" tabindex="6" placeholder="Search with Vendor Name" type="text" maxlength="100" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group col-md-6">
                                <label for="txtFromDate" class="col-sm-4 control-label">Quotation From Date</label>
                                <div class="col-sm-8 ">
                                    <input class="form-control" id="txtQuotationFromDate" name="txtFromDate" tabindex="7" value="@ViewData["fromDate"]" type="text" maxlength="50" />
                                    <input id="hdnQuotationFromDate" name="hdnQuotationFromDate" value="@ViewData["fromDate"]" type="hidden" />
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="txtQuotationToDate" class="col-sm-4 control-label">To Date</label>
                                <div class="col-sm-8 ">
                                    <input class="form-control" id="txtQuotationToDate" name="txtQuotationToDate" tabindex="8" value="@ViewData["toDate"]" type="text" maxlength="50" />
                                    <input id="hdnQuotationToDate" name="hdnQuotationToDate" value="@ViewData["toDate"]" type="hidden" />
                                </div>
                            </div>
                        </div>


                        <div class="row col-sm-12 col-lg-12 col-md-12">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <center>
                                    <input class="btn btn-success" value="Search" alt="Search" tabindex="9" id="btnSearch" onclick="SearchPurchaseQuotation()" type="button" border="0">
                                </center>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="row col-sm-6 col-lg-12 col-md-12">
                            <div id="divQuotationProductList">

                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" tabindex="10" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

        <div class="modal fade" id="SearchPurchaseIndentModel" role="dialog">
            <div class="modal-dialog  modal-lg">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" tabindex="16" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Search Purchase Indent</h4>
                    </div>

                    <div class="">
                        <div class="col-md-12 ftop">
                            <div class="form-group  col-md-6">
                                <label for="txtSearchIndentNo" class="col-sm-4 control-label">Indent No.</label>
                                <div class="col-sm-8 ">
                                    <input class="form-control" id="txtSearchIndentNo" name="txtSearchIndentNo" tabindex="17" placeholder="Search with Indent No." type="text" maxlength="50" />
                                </div>

                            </div>
                            <div class="form-group col-md-6">
                                <label for="ddlIndentType" class="col-sm-4 control-label">Indent Type</label>
                                <div class="col-sm-8">
                                    <select id="ddlIndentType" name="ddlIndentType" tabindex="18" class="form-control">
                                        <option value="0">Select Indent Type</option>
                                        <option value="PO">PO</option>
                                        <option value="WPO">WPO</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">

                            <div class="form-group col-md-6">
                                <label for="txtCustomerName" class="col-sm-4 control-label">Customer Name</label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="txtCustomerName" name="txtCustomerName" tabindex="19" placeholder="Search with Customer Name" type="text" maxlength="100" />
                                </div>
                            </div>
                            <div class="form-group col-md-6" style="display:none;">
                                <label for="ddlSearchCompanyBranch" class="col-sm-4 control-label">Company Branch</label>
                                <div class="col-sm-8">
                                    <select id="ddlSearchCompanyBranchIndent" name="ddlSearchCompanyBranchIndent" tabindex="20" class="form-control"></select>
                                    <input id="hdnSessionCompanyBranchIdIndent" type="hidden" value="@ViewData["CompanyBranchId"]" />
                                    <input id="hdnSessionUserIDIndent" type="hidden" value="@ViewData["UserId"]" />

                                </div>
                            </div>

                        </div>

                        <div class="col-md-12">
                            <div class="form-group col-md-6">
                                <label for="txtFromDate" class="col-sm-4 control-label">Indent From Date</label>
                                <div class="col-sm-8 ">
                                    <input class="form-control" id="txtIndentFromDate" name="txtIndentFromDate" tabindex="21" value="@ViewData["fromDate"]" type="text" maxlength="50" />
                                    <input id="hdnFromDate" name="hdnFromDate" value="@ViewData["fromDate"]" type="hidden" />
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="txtToDate" class="col-sm-4 control-label">Indent To Date</label>
                                <div class="col-sm-8 ">
                                    <input class="form-control" id="txtIndentToDate" name="txtIndentToDate" tabindex="22" value="@ViewData["toDate"]" type="text" maxlength="50" />
                                    <input id="hdnToDate" name="hdnToDate" value="@ViewData["toDate"]" type="hidden" />
                                </div>
                            </div>
                        </div>

                        <div class="row col-sm-12 col-lg-12 col-md-12">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <center>
                                    <input class="btn btn-success" value="Search" alt="Search" tabindex="23" id="btnSearch" onclick="SearchPurchaseIndent()" type="button" border="0">
                                </center>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="row col-sm-6 col-lg-12 col-md-12">
                            <div id="divIndentProductList">

                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" tabindex="24" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        <div class="modal fade Book" id="AddProductModel" role="dialog">
            <div class="modal-dialog  modal-lg">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add Product</h4>
                    </div>
                    <div class="">

                        @{Html.RenderPartial("_ProductPartial");}


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

        <div class="modal fade" id="PurchaseProductModel" role="dialog">
            <div class="modal-dialog  modal-lg">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Previous Purchase of this Product</h4>
                    </div>
                    <div class="row col-sm-6 col-lg-12 col-md-12">
                        <div id="DivSeePreviousPurchaseProduct">
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        <!--Master Pop Up For Vendor Created By Dheeraj Discuss Hari Sir-->
        <div class="modal fade Book" id="AddNewVendor" role="dialog">
            <div class="modal-dialog  modal-lg">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" tabindex="40" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add New Vendor</h4>
                    </div>
                    <div class="">

                        @{Html.RenderPartial("_VendorPartial");}


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

        <div class="modal fade" id="POScheduleModel" role="dialog" style="z-index:99999;">
            <div class="modal-dialog  modal-lg" style="z-index:99999;">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" tabindex="4" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">PO Schedule</h4>
                    </div>

                    <div class="">
                        <div class="row col-sm-12 col-lg-12 col-md-12 ftop">
                            <div class="form-group col-md-3"></div>
                            <div class="form-group col-md-3" style="background-color:yellow">
                                <h4><label class="col-sm-12 " style="color:#000;text-decoration:underline;text-align:center;"><b>Po Schedule Detail</b></label></h4>
                            </div>
                            <div class="form-group col-md-3">
                                <input class="btn btn-success editonly" value="Add New PO Schedule" tabindex="76" alt="Add New PO Schedule" id="btnAddNewTerm" onclick="ShowHidePOSchedulePanel(1)" type="button" border="0">
                            </div>
                            <div class="form-group col-md-3"></div>
                        </div>
                        <div class="poSchedule" style="display:none;">
                            <div class="col-md-12 ftop">
                                <div class="form-group col-md-4">
                                    <label for="txtProductNameModel" class="col-sm-4 control-label">Product Name</label>
                                    <div class="col-sm-8 ">
                                        <input class="form-control" id="txtProductNameModel" name="txtProductNameModel" tabindex="5" type="text" maxlength="50" disabled />
                                        <input id="hdnProductId" type="hidden" value="0" />
                                        <input id="txtQuantityModel" name="txtQuantity" type="hidden" />
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="txtProductCodeModel" class="col-sm-4 control-label">Product Code</label>
                                    <div class="col-sm-8 ">
                                        <input class="form-control" id="txtProductCodeModel" name="txtProductCodeModel" tabindex="5" type="text" maxlength="50" disabled />
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="txtUnit" class="col-sm-4 control-label">Unit</label>
                                    <div class="col-sm-8 ">
                                        <input class="form-control" id="txtUnit" name="txtUnit" tabindex="8" type="text" maxlength="50" disabled />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group col-md-4">
                                    <label for="txtDeliverydatemodel" class="col-sm-4 control-label">Delivery Date&nbsp;<span class="Mandatory">(*)</span></label>
                                    <div class="col-sm-8 ">
                                        <input class="form-control" id="txtDeliverydatemodel" name="txtDeliverydatemodel" tabindex="8" type="text" maxlength="50" />
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="txtSchQty" class="col-sm-4 control-label">Sch Qty&nbsp;<span class="Mandatory">(*)</span></label>
                                    <div class="col-sm-8 ">
                                        <input class="form-control" id="txtSchQty" name="txtSchQty" tabindex="8" type="text" maxlength="50" />
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="txtConDeliveryDate" class="col-sm-4 control-label">Confirmed Delivery Date</label>
                                    <div class="col-sm-8 ">
                                        <input class="form-control" id="txtConDeliveryDate" name="txtConDeliveryDate" tabindex="8" type="text" maxlength="50" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="CheckSchQty" class="col-sm-12 col-lg-12 col-md-12" style="display: none; margin-left: 31px; margin-bottom: 10px;color:red">
                            Sch Quantity is less than or equal to Order Quantity
                        </div>
                        <div class="col-sm-12 col-lg-12 col-md-12 poSchedule" style="display:none;">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <center>
                                    <input class="btn btn-success" value="Add Po Schedule" alt="Add Po Schedule" tabindex="78" id="btnAddPoSchedule" onclick="AddPOSchedule(1)" type="button" border="0">
                                    <input class="btn btn-success" value="Update Po Schedule" alt="Update Po Schedule" style="display:none;" tabindex="79" id="btnUpdatePoSchedule" onclick="AddPOSchedule(2)" type="button" border="0">
                                    <input class="btn btn-success" type="button" id="btnCancelPoSchedule" tabindex="79" onclick="ShowHidePOSchedulePanel(2)" value="Cancel" />
                                </center>
                            </div>
                            <div class="col-md-3"></div>
                        </div>

                        <div class="row col-sm-6 col-lg-12 col-md-12">
                            <div id="divPoScheduleList">
                            </div>
                        </div>

                        <div class="row col-sm-12 col-lg-12 col-md-12 ftop">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <center>
                                    <input class="btn btn-success" value="Save" alt="Save" tabindex="9" id="btnSave" onclick="savePoSchedule()" type="button" border="0">
                                </center>
                            </div>
                            <div class="col-md-3"></div>
                        </div>

                        <div class="row col-sm-12 col-lg-12 col-md-12 ftop">
                            <div class="col-md-2">
                                <select id="ddlPrintOption" name="ddlPrintOption" onchange="ShowHidePrintOption()" tabindex="1" class="form-control">
                                    @*<option selected="selected" value="PDF">PDF</option>*@
                                    <option value="Excel">Excel</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <a class="btn btn-success" target="_blank" href="#" id="btnPdf">Print</a>
                                <a class="btn btn-success" style="display:none;" target="_blank" href="#" id="btnExcel">Print</a>

                            </div>
                            <div class="col-md-8"></div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" tabindex="10" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </form>
</section>
<script src="~/Scripts/jquery-ui.js"></script>
<script src="~/Scripts/PO/AddPO.js"></script>
<script src="~/Scripts/paging.js"></script>
<script src="~/Scripts/Common.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/notify.min.js"></script>
<script>
    $(document).ready(function () {
        $('[data-toggle="btnAddNewVendor"]').tooltip();
        $('[data-toggle="btnSearchWorkOrder"]').tooltip();
        $('[data-toggle="btnSearchWorkOrder"]').tooltip();
        $('[data-toggle="btnAddPopupProduct"]').tooltip();
        $('[data-toggle="btnAddPopupProductPurchase"]').tooltip();
    });
</script>
<style>
    .tooltip-inner {
        max-width: 350px;
        /* If max-width does not work, try using width instead */
        width: 100%;
        height: auto;
        border-radius: none;
        min-height: 70px;
        padding: 10px;
        background-color: #393a3d;
        text-align: left;
        margin-left: 60px;
    }

    .tooltip.top .tooltip-arrow {
        bottom: -8px;
        left: 10%;
        margin-left: -5px;
        border-width: 20px 10px 0;
        border-top-color: #393a3d;
    }

    .tooltip.top .tooltip-arrow {
        -webkit-transform: translate(0em) rotate(60deg) rotate(-30deg);
    }
</style>

