@model List<Portal.Core.ViewModel.PurchaseIndentViewModel>

@if (Model != null && Model.Count > 0)
{
    <div style="overflow-x:scroll; padding:10px;background-color:white;">
        <table class="table table-bordered table-hover" id="tblPurchaseIndentList">
            <thead>
                <tr>
                    <th><center>Select</center></th>                   
                    <th><center>Indent No.</center></th>
                    <th><center>Date</center></th>
                    <th><center>Type</center></th>
                    <th><center>Customer Name</center></th>
                    <th><center>Indent Status</center></th>
                    

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="success">
                        <td style="width:30px; margin:0px 2px auto;">
                            <a class="fa fa-pencil-square-o erp-btn" href="#" onclick="SelectPurchaseIndent('@item.IndentId','@item.IndentNo','@item.IndentDate')"></a>
                        </td>
                        <td>@item.IndentNo</td>
                        <td>@item.IndentDate</td>
                        <td>@item.IndentType</td>
                        <td>@item.CustomerName</td>
                         <td style="background-color:green;color:white;">
                         @if (item.IndentStatus.ToUpper() == "FINAL")
                            {
                                 @item.IndentStatus
    
                             }
                        else
                            {
                            @item.IndentStatus
                        }
                        </td>
                      


                    </tr>
                }

            </tbody>
        </table>
    </div>
}
else
{
    <h3 style="color:firebrick;text-align:center">Records not Found!!!</h3>
}
<script>
    $(document).ready(function () {
        $('#tblPurchaseIndentList').paging({
            limit: 10,
            rowDisplayStyle: 'block',
            activePage: 0,
            rows: []
        });

    });
</script>
<style>
    .btn-success a {
        background-color: #446abc !important;
        border-color: #233e79 !important;
        display: -webkit-inline-box;
        padding: 5px;
    }
</style>