@model List<Portal.Core.ViewModel.WorkOrderViewModel>
<script src="~/Scripts/jquery.tablesorter.js"></script>
<style>
    .table th {
        background: rgba(0, 0, 0, 0) linear-gradient(#375CB0, #6e96e2) repeat scroll 0 0;
    }

    .table th {
        color: #ffffff;
        text-align: center;
    }

    .table tr {
        text-align: center;
    }
</style>
@if (Model != null && Model.Count > 0)
{
    <div style="overflow-x:scroll; padding:10px;background-color:white;">
        <table class="table table-bordered table-hover" id="tblCountryList">
            <thead>
                <tr>
                    <th colspan="2"><center>Select</center></th>
                    <th><center>Work Order No.</center></th>
                    <th><center>Work Order Date</center></th>
                    <th><center>Target From</center></th>
                    <th><center>Target To</center></th>
                    <th><center>Location</center></th>
                    <th><center>Status</center></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="success">
                        <td class="btn btn-success table_btn" style="width:30px; margin:0px 2px auto;">
                            <a style="color:white" class="fa fa-pencil-square-o" href="#" onclick="SelectWorkOrder('@item.WorkOrderId','@item.WorkOrderNo','@item.WorkOrderDate','PO')"></a>
                        </td>
                        <td class="teal text" style="margin:0px auto;">
                            @if (item.WorkOrderStatus.ToUpper() == "DRAFT")
                            {
                                <a style="color:darkgreen" title="Edit" class="fa fa-pencil" href="~/WorkOrder/AddEditWorkOrder?workOrderId=@item.WorkOrderId&AccessMode=2"></a>
                            }

                        </td>
                        <td>@item.WorkOrderNo</td>
                        <td>@item.WorkOrderDate</td>
                        <td>@item.TargetFromDate</td>
                        <td>@item.TargetToDate</td>
                        <td>@item.CompanyBranchName</td>
                        @if (item.WorkOrderStatus.ToUpper() == "DRAFT")
                        {
                            <td style="background-color:aquamarine">
                                @item.WorkOrderStatus
                            </td>
                        }
                        else
                        {
                            <td style="background-color:green">
                                @item.WorkOrderStatus
                            </td>

                        }

                    </tr>
                }

            </tbody>
        </table>
    </div>
}
else
{
    <h3 style="color:firebrick;text-align:center">Records not Found!!!</h3>
}
<script>
    $(document).ready(function () {
        $('#tblCountryList').paging({
            limit: 10,
            rowDisplayStyle: 'block',
            activePage: 0,
            rows: []
        });

    });
</script>
<style>
    .btn-success a {
        background-color: #446abc !important;
        border-color: #233e79 !important;
        display: -webkit-inline-box;
        padding: 5px;
    }
</style>