@model List<Portal.Core.ViewModel.POViewModel>
<script src="~/Scripts/jquery.tablesorter.js"></script>
<style>
    .table th {
        background: rgba(0, 0, 0, 0) linear-gradient(#375CB0, #6e96e2) repeat scroll 0 0;
    }

    .table th {
        color: #ffffff;
        text-align: center;
    }

    .table tr {
        text-align: center;
    }

    table tr:nth-child(2n+1) {
        background-color: #dbe5f7;
    }

    table tr:nth-child(2n) {
        background-color: #dbe5f7;
    }
</style>
@if (Model != null && Model.Count > 0)
{
    <div style="overflow-x:scroll; padding:10px;">
        <table class="table" id="tblPOList">
            <thead>
                <tr>
                    <th align="center">Select</th>
                    <th>PO No.</th>
                    <th>PO Date</th>
                    <th>Vendor Name</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Ref. No.</th>
                    <th>Ref. Date</th>
                    <th>Gross Amount</th>
                    <th>Net Amount</th>
                    <th>Created By User Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="success">
                        <td style="width:30px; margin:0px 2px auto;">
                            <a class="fa fa-pencil-square-o erp-btn" href="#" onclick="SelectPO('@item.POId','@item.PONo','@item.PODate','@item.VendorId','@item.VendorCode','@item.VendorName')"></a>
                        </td>    
                        <td>@item.PONo
                            <input type="hidden" id="hdnSearchSONo" value="@item.PONo" />
                        </td>
                        <td>@item.PODate
                            <input type="hidden" id="hdnSearchSODate" value="@item.PODate" />
                        </td>
                        <td>@item.VendorName</td>
                        <td>@item.City</td>
                        <td>@item.StateName</td>
                        <td>@item.RefNo</td>
                        <td>@item.RefDate</td>
                        <td>@item.BasicValue</td>
                        <td>@item.TotalValue</td>
                        <td>@item.CreatedByUserName</td>
                    </tr>
                }
              
            </tbody>
        </table>
    </div>
}
else
{
    <h3 style="color:firebrick;text-align:center">Records not Found!!!</h3>
}
<script>
    $(document).ready(function () {
        $('#tblPOList').paging({
            limit: 10,
            rowDisplayStyle: 'block',
            activePage: 0,
            rows: []
        });

    });
</script>