@model List<Portal.Core.ViewModel.EmployeeClearanceProcessDetailViewModel>
<script src="~/Scripts/jquery.tablesorter.js"></script>
@if (Model != null && Model.Count > 0)
{
    <div style="overflow-x:scroll; padding:10px;">
        <table class="table" id="tblClearanceTemplate">
            <thead>
                <tr>
                    <th>S.No.</th>
                    <th>Separation Clear List</th>
                    <th>Clearance By User</th>
                    <th>Clearance Status</th>
                    <th>Clearance Remarks</th>
                    <th align="center">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="success">
                        <td>
                            @item.TaxSequenceNo
                            <input type="hidden" id="hdnTaxSequenceNo" value="@item.TaxSequenceNo" />
                            <input type="hidden" id="hdnEmployeeClearanceDetailId" value="@item.EmployeeClearanceDetailId" />
                        </td>
                        <td>
                            @item.SeparationClearListName
                            <input type="hidden" id="hdnSeparationClearListId" value="@item.SeparationClearListId" />
                            <input type="hidden" id="hdnSeparationClearListName" value="@item.SeparationClearListName" />
                        </td>
                        <td>
                            @item.ClearanceByUserName
                            <input type="hidden" id="hdnClearanceByUserName" value="@item.ClearanceByUserName" />
                            <input type="hidden" id="hdnClearanceByUserId" value="@item.ClearanceByUserId" />
                        </td>
                        <td>
                            @item.ClearanceStatus
                            <input type="hidden" id="hdnClearanceStatus" value="@item.ClearanceStatus" />
                        </td>
                        <td>
                            @item.ClearanceRemarks
                            <input type="hidden" id="hdnClearanceRemarks" value="@item.ClearanceRemarks" />
                        </td>
                        <td class="btn btn-success table_btn" style="width:30px; margin:0px 2px auto;">
                            <a style="color:white" class="fa fa-pencil-square-o" onclick="EditClearanceTemplateDetailRow(this);" href="#"></a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
}
else
{
    <div style="overflow-x:scroll; padding:10px;">
        <table class="table" id="tblClearanceTemplate">
            <thead>
                <tr>
                    <th>S.No.</th>
                    <th>Separation Clear List</th>
                    <th>Clearance By User</th>
                    <th>Clearance Status</th>
                    <th>Clearance Remarks</th>
                    <th align="center">Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
}
<script>
    $(document).ready(function () {
        $('#tblClearanceTemplate').paging({
            limit: 10,
            rowDisplayStyle: 'block',
            activePage: 0,
            rows: []
        });

    });
</script>
