@model List<Portal.Core.ViewModel.SOViewModel>
<script src="~/Scripts/jquery.tablesorter.js"></script>
@if (Model != null && Model.Count > 0)
{
    <div style="overflow-x:scroll; padding:10px;">
        <table class="table" id="tblSOList">
            <thead>
                <tr>
                    <th align="center">Select</th>
                    <th>SO No.</th>
                    <th>SO Date</th>
                    <th>Location</th>
                    <th>Customer Name</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Ref. No.</th>
                    <th>Ref. Date</th>
                    <th>Gross Amount</th>
                    <th>Net Amount</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="success">
                        <td class="btn btn-success table_btn" style="width:30px; margin:0px 2px auto;">
                            <a style="color:white" class="fa fa-pencil-square-o" href="#" onclick="SelectSO('@item.SOId', '@item.SONo', '@item.SODate', '@item.CustomerId', '@item.CustomerCode', '@item.CustomerName', '@item.CustomerGSTNo', '@item.ConsigneeId', '@item.ConsigneeName', '@item.ConsigneeCode', '@item.ConsigneeGSTNo', '@item.CompanyBranchId', '@item.LocationId')"></a>
                        </td>    
                        <td>@item.SONo
                            <input type="hidden" id="hdnSequenceNo" value="@item.SONo" />
                        </td>
                        <td>@item.SODate
                            <input type="hidden" id="hdnSearchSODate" value="@item.SODate" />
                        </td>
                        <td>@item.LocationName</td>
                        <td>@item.CustomerName</td>
                        <td>@item.City</td>
                        <td>@item.StateName</td>
                        <td>@item.RefNo</td>
                        <td>@item.RefDate</td>
                        <td>@item.BasicValue</td>
                        <td>@item.TotalValue</td>
                    </tr>
                }
              
            </tbody>
        </table>
    </div>
}
else
{
    <h3 style="color:firebrick;text-align:center">Records not Found!!!</h3>
}
<script>
    $(document).ready(function () {
        $('#tblSOList').paging({
            limit: 10,
            rowDisplayStyle: 'block',
            activePage: 0,
            rows: []
        });

    });
</script>