@model List<Portal.Core.ViewModel.StoreRequisitionViewModel>
<script src="~/Scripts/jquery.tablesorter.js"></script>
<style>
    .table th {
        background: rgba(0, 0, 0, 0) linear-gradient(#375CB0, #6e96e2) repeat scroll 0 0;
    }

    .table th {
        color: #ffffff;
        text-align: center;
    }

    .table tr {
        text-align: center;
    }
</style>
@if (Model != null && Model.Count > 0)
{
    <div style="overflow-x:scroll; padding:10px;background-color:white;">
        <table class="table table-bordered table-hover" id="tblCountryList">
            <thead>
                <tr>
                    <th colspan="2"><center>Action</center></th>
                    <th><center>Requisition No.</center></th>
                    <th><center>Date</center></th>
                    <th><center>Type</center></th>
                    <th><center>WorkOrder No.</center></th>
                    <th><center>Customer Name</center></th>
                    <th><center>Department</center></th>
                    <th><center>Requisition Status</center></th>
                    <th><center>Created By User</center></th>
                    <th><center>Created Date</center></th>
                    <th><center>Modified By User</center></th>
                    <th><center>Modified Date</center></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="success">
                    @if (item.RequisitionStatus.ToUpper() == "FINAL")
                    {
                        <td class="teal text" style="margin:0px auto;" colspan="2">
                            <a style="color:darkblue" title="View" class="fa fa-eye" aria-hidden="true" href="~/InternalRequisition/AddEditInternalRequisition?internalRequisitionId=@item.RequisitionId&AccessMode=3"></a>
                        </td>
                    }
                    else
                    {   <td class="teal text" style="margin:0px auto;">
                            <a style="color:darkblue" title="View" class="fa fa-eye" aria-hidden="true" href="~/InternalRequisition/AddEditInternalRequisition?internalRequisitionId=@item.RequisitionId&AccessMode=3"></a>
                        </td>
                        <td class="teal text" style="margin:0px auto;">
                           
                                <a style="color:darkgreen" title="Edit" class="fa fa-pencil" href="~/InternalRequisition/AddEditInternalRequisition?internalRequisitionId=@item.RequisitionId&AccessMode=2"></a>

                        </td>
                    }
                        <td>@item.RequisitionNo</td>
                        <td>@item.RequisitionDate</td>
                        <td>@item.RequisitionType</td>
                        <td>@item.WorkOrderNo</td>
                        <td>@item.CustomerName</td>
                        <td>@item.LocationName</td>
                        @if (item.RequisitionStatus.ToUpper() == "FINAL")
                        {
                        <td style="background-color:green;color:white;">@item.RequisitionStatus</td>
                        }
                        else
                        {
                       <td style="background-color:aquamarine;">@item.RequisitionStatus</td>
                        }
                        <td>@item.CreatedByUserName</td>
                        <td>@item.CreatedDate</td>
                        <td>@item.ModifiedByUserName</td>
                        <td>@item.ModifiedDate</td>



                    </tr>
                }

            </tbody>
        </table>
    </div>
}
else
{
    <h3 style="color:firebrick;text-align:center">Records not Found!!!</h3>
}
<script>
    $(document).ready(function () {
        $('#tblCountryList').paging({
            limit: 10,
            rowDisplayStyle: 'block',
            activePage: 0,
            rows: []
        });

    });
</script>
<style>
    .btn-success a {
        background-color: #446abc !important;
        border-color: #233e79 !important;
        display: -webkit-inline-box;
        padding: 5px;
    }
</style>