@model List<Portal.Core.ViewModel.DocumentTypeViewModel>
<style>
    .table {
        background-color: white;
        margin-left: 0px;
        margin-right: 20px
    }

        .table th {
            background: rgba(0, 0, 0, 0) linear-gradient(#375CB0, #6e96e2) repeat scroll 0 0;
            color: #fff;
        }
</style>
<script src="~/Scripts/jquery.tablesorter.js"></script>
@if (Model != null && Model.Count > 0)
{
<div style="overflow-x: scroll;">
    <table class="table table-bordered" id="tblDocumentTypeList">
        <thead>
            <tr>
                <th colspan="2"><center>Action</center></th>
                <th><center>Document Type Desc</center></th>
                <th><center>Company Branch</center></th>
                <th><center>Module Type</center></th>
                <th><center>Status</center></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.DocumentType_Status == true)
                {
<tr class="success">
    <td class="teal text" style="width:30px; margin:0px auto;">
        <a style="color:darkblue;text-decoration:none" title="View" class="fa fa-eye" aria-hidden="true" href="~/DocumentType/AddEditDocumentType?DocumentTypeId=@item.DocumentTypeId&AccessMode=3"></a>
    </td>
    <td class="teal text" style="width:30px; margin:0px 2px auto;">
        <a style="color:darkgreen;text-decoration:none" title="Edit" class="fa fa-pencil" href="~/DocumentType/AddEditDocumentType?DocumentTypeId=@item.DocumentTypeId&AccessMode=2"></a>
    </td>
    <td align="center">@item.DocumentTypeDesc</td>
    <td align="center">@item.CompanyBranchName</td>
    <td align="center">@item.ModuleType</td>

    <td align="center">@(item.DocumentType_Status == true ? "Active" : "Inactive")</td>
</tr>
 }
else
{
<tr class="danger">
    <td class="teal text" style="width:30px; margin:0px auto;">
        <a style="color:darkblue" class="fa fa-eye" aria-hidden="true" href="~/DocumentType/AddEditDocumentType?DocumentTypeId=@item.DocumentTypeId&AccessMode=3"></a>
    </td>
    <td class="teal text" style="width:30px; margin:0px 2px auto;">
        <a style="color:darkgreen" class="fa fa-pencil" href="~/DocumentType/AddEditDocumentType?DocumentTypeId=@item.DocumentTypeId&AccessMode=2"></a>
    </td>
    <td align="center">@item.DocumentTypeDesc</td>
    <td align="center">@item.CompanyBranchName</td>
    <td align="center">@item.ModuleType</td>
    <td align="center">@(item.DocumentType_Status == true ? "Active" : "Inactive")</td>
</tr>
       }
}

        </tbody>
    </table>
</div> }
else
{
<h3 style="color:firebrick;text-align:center">Records not Found!!!</h3>}
<script>
    $(document).ready(function () {
        $('#tblDocumentTypeList').paging({
            limit: 10,
            rowDisplayStyle: 'block',
            activePage: 0,
            rows: []
        });

    });
</script>