@model List<Portal.Core.ViewModel.PurchaseIndentProductDetailViewModel>
<style>
    .table th {
        background: rgba(0, 0, 0, 0) linear-gradient(#375CB0, #6e96e2) repeat scroll 0 0;
    }

    .table th {
        color: #ffffff;
        text-align: center;
    }

    .table tr {
        text-align: center;
    }
</style>
@if (Model != null && Model.Count > 0)
{
    <div style="overflow-x:scroll; padding:10px;">
        <table class="table table-bordered table-hover" id="tblProductList">
            <thead>
                <tr>
                    <th style="text-align:center;">Sr. No.</th>
                    <th style="text-align:center;">Product Name</th>
                    <th style="text-align:center;">Product Code</th>
                    <th style="text-align:center;">Unit</th>
                    <th style="text-align:center;">Quantity</th>
                    <th style="text-align:center;">Price</th>
                    <th style="text-align:center;">Total Price</th>
                   
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="success">
                        <td>
                            @item.SequenceNo
                            <input type="hidden" id="hdnSequenceNo" value="@item.SequenceNo" />
                        </td>
                        <td>
                            @item.ProductName
                            <input type="hidden" id="hdnIndentProductDetailId" value="@item.IndentProductDetailId" />
                            <input type="hidden" id="hdnProductId" value="@item.ProductId" />
                            <input type="hidden" id="hdnProductName" value="@item.ProductName" />

                        </td>
                        <td>
                            @item.ProductCode
                            <input type="hidden" id="hdnProductCode" value="@item.ProductCode" />
                        </td>
                        <td>
                            @item.UOMName
                            <input type="hidden" id="hdnUOMName" value="@item.UOMName" />
                            <input type="hidden" id="hdnProductShortDesc" value="@item.ProductShortDesc" />

                        </td>
                        <td>
                            @item.Quantity
                            <input type="hidden" id="hdnQuantity" value="@item.Quantity" />
                        </td>

                        <td>
                            @item.Price
                            <input type="hidden" id="hdnPrice" value="@item.Price" />
                        </td>

                        <td>
                            @item.TotalPrice
                            <input type="hidden" id="hdnTotalPrice" value="@item.TotalPrice" />
                        </td>
                       
                    </tr>
                }

            </tbody>
        </table>
    </div>
}
else
{
    <div style="overflow-x:scroll; padding:10px;">
        <table class="table" id="tblProductList">
            <thead>
                <tr>
                    <th>Sr. No.</th>
                    <th>Product Name</th>
                    <th>Product Code</th>
                    <th>Unit</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total Price</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
}
