@model List<Portal.Core.ViewModel.PaintProcessViewModel>
<script src="~/Scripts/jquery.tablesorter.js"></script>
<style>
    .table th {
        background: rgba(0, 0, 0, 0) linear-gradient(#375CB0, #6e96e2) repeat scroll 0 0;
    }

    .table th {
        color: #ffffff;
        text-align: center;
    }

    .table tr {
        text-align: center;
    }
</style>
@if (Model != null && Model.Count > 0)
{
    <div style="overflow-x:scroll; padding:10px;background-color:white;">
        <table class="table table-bordered table-hover" id="tblCountryList">
            <thead>
                <tr>
                    <th colspan="2"><center>Select</center></th>
                    <th><center>Paint Process No.</center></th>
                    <th><center>Paint Process Date</center></th>
                    <th><center>Work Order No.</center></th>                  
                    <th><center>Location</center></th>
                    <th><center>Status</center></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="success">
                        <td style="width:30px; margin:0px 2px auto;">
                            <a class="fa fa-pencil-square-o erp-btn" href="#" onclick="SelectPaintProcess('@item.PaintProcessId','@item.PaintProcessNo','@item.WorkOrderId','@item.WorkOrderNo','@item.PaintProcessQuantity','@item.Quantity','@item.CompanyBranchId','@item.PaintProcessDate')"></a>
                        </td>
                        <td class="teal text" style="margin:0px auto;">
                            @if (item.PaintProcessStatus.ToUpper() == "DRAFT")
                            {
                                <a style="color:darkgreen" title="Edit" class="fa fa-pencil" href="~/PaintProcess/AddEditPaintProcess?paintProcessId=@item.PaintProcessId&AccessMode=2"></a>
                            }

                        </td>
                        <td>@item.PaintProcessNo</td>
                        <td>@item.PaintProcessDate</td>
                        <td>@item.WorkOrderNo</td>                       
                        <td>@item.CompanyBranchName</td>
                        @if (item.PaintProcessStatus.ToUpper() == "DRAFT")
                        {
                            <td style="background-color:aquamarine">
                                @item.PaintProcessStatus
                            </td>
                        }
                        else
                        {
                            <td style="background-color:green">
                                @item.PaintProcessStatus
                            </td>

                        }

                    </tr>
                }

            </tbody>
        </table>
    </div>
}
else
{
    <h3 style="color:firebrick;text-align:center">Records not Found!!!</h3>
}
<script>
    $(document).ready(function () {
        $('#tblCountryList').paging({
            limit: 10,
            rowDisplayStyle: 'block',
            activePage: 0,
            rows: []
        });

    });
</script>
<style>
    .btn-success a {
        background-color: #446abc !important;
        border-color: #233e79 !important;
        display: -webkit-inline-box;
        padding: 5px;
    }
</style>