@{
    ViewBag.Title = "Trial Balance Drill-Down";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
<style>
    .Mandatory {
        color: red;
        font-weight: bold;
    }
</style>
<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<div class="row top-head">
    <div class="col-md-12"><p><b><a style="color:#fff;" href="~/Dashboard/AccountDashboard">Account </a> >> Balance Sheet Drill-Down</b></p></div>
</div>
<section>
    <form action="#" id="frmBankBookPrint" class="form-horizontal as" enctype="multipart/form-data" method="post" accept-charset="utf-8">
        <div class="row inner">
            <div class="message">

            </div>
            <div class="col-md-12 ftop">
                <div class="form-group col-md-12">
                    <label for="rdoReportLevel" class="col-sm-2 control-label">Report Level</label>
                    <div class="col-sm-8">
                        <label style="font-weight:bold" ><input type="radio" id="rdoMainGroup" tabindex="1" name="ReportLevel" value="MainGroup" /> &nbsp;&nbsp;Main Group Wise</label>
                        &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                        <label style="font-weight:bold"><input type="radio" id="rdoSubGroup" tabindex="2" name="ReportLevel" value="SubGroup" /> &nbsp;&nbsp;Sub Group Wise</label>
                        &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                        <label style="font-weight:bold"><input type="radio" id="rdoGLTrial" tabindex="3" name="ReportLevel" value="GLWise" /> &nbsp;&nbsp;General Ledger Wise</label>
                        &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                        <label style="font-weight:bold"><input type="radio" id="rdoSLTrial" tabindex="4" name="ReportLevel" value="SLWise" /> &nbsp;&nbsp;Sub Ledger Wise</label>
                    </div>
                </div>
                <div class="form-group col-md-6">

                </div>
            </div>
          <div class="col-md-12">
              <div class="form-group col-md-12">
                  <div class="form-group col-md-1">
                      </div>
                      <div class="form-group col-md-4">
                          <label for="ddlCompanyBranch" class="col-sm-4 control-label">Company Branch</label>
                          <div class="col-sm-8">
                              <select id="ddlCompanyBranch" name="ddlCompanyBranch" tabindex="9" class="form-control"></select>
                              <input id="hdnSessionCompanyBranchId" type="hidden" value="@ViewData["CompanyBranchId"]" />
                              <input id="hdnSessionUserID" type="hidden" value="@ViewData["UserId"]" />

                          </div>
                      </div>
                  <div class="form-group col-md-4" style="display:none;">
                      <label for="txtFromDate" class="col-sm-4 control-label">From Date</label>
                      <div class="col-sm-8 ">
                          <input class="form-control" id="txtFromDate" name="txtFromDate" tabindex="5" value="@ViewData["fromDate"]" type="text" maxlength="50" />
                         
                      </div>
                  </div>
                      <div class="form-group col-md-4">
                          <label for="txtToDate" class="col-sm-4 control-label">As On Date</label>
                          <div class="col-sm-8 ">
                              <input class="form-control" id="txtToDate" name="txtToDate" tabindex="2" value="@ViewData["toDate"]" type="text" maxlength="50" />
                              <input id="hdnToDate" name="hdnToDate" value="@ViewData["toDate"]" type="hidden" />
                              <input id="hdnFromDate" name="hdnFromDate" value="@ViewData["fromDate"]" type="hidden" />
                          </div>
                      </div>
                  </div>
              </div>

            <div class="col-md-12">
                <div class="form-group  col-md-6">

                </div>
            </div>

            <div class="row col-sm-12 col-lg-12 col-md-12">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <center>
                        <a class="btn btn-success" tabindex="7" onclick="GenerateBSDrillDown();" href="#" id="lnkExport">Process</a> &nbsp;&nbsp;
                        <input class="btn btn-success" type="button" tabindex="10" id="btnReset" onclick="ClearFields()" value="Reset" /> &nbsp;&nbsp;
                    </center>
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="row col-sm-6 col-lg-12 col-md-12">
                <div id="divList">

                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="alertModel" role="dialog">
            <div class="modal-dialog  modal-sm">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" tabindex="8" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" id="modelHeader"></h4>
                    </div>
                    <div class="modal-body">
                        <p id="modelText"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" tabindex="9" class="btn btn-primary  btn-block" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </form>
</section>
<script src="~/Scripts/BalanceSheetDrillDown/BalanceSheetDrillDown.js"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>
<script src="~/Scripts/paging.js"></script>