@model List<Portal.Core.ViewModel.POViewModel>
<script src="~/Scripts/jquery.tablesorter.js"></script>
@if (Model != null && Model.Count > 0)
{
    <div style="overflow-x:scroll; padding:10px;">
        <table class="table" id="tblSearchInvoiceList">
            <thead>
                <tr>
                    <th align="center">Select</th>
                    <th>PO No.</th>
                    <th>PO Date</th>
                    <th>Vendor Name</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Ref. No.</th>
                    <th>Ref. Date</th>
                 
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="success">
                        <td class="btn btn-success table_btn" style="width:30px; margin:0px 2px auto;">
                            <a style="color:white" class="fa fa-pencil-square-o" href="#" onclick="SelectPO('@item.POId','@item.PONo','@item.PODate','@item.VendorId','@item.VendorCode','@item.VendorName')"></a>
                        </td>
                        <td>
                            @item.PONo
                            <input type="hidden" id="hdnSearchInvoiceNo" value="@item.PONo" />
                        </td>
                        <td>
                            @item.PODate
                            <input type="hidden" id="hdnSearchInvoiceDate" value="@item.PODate" />
                        </td>
                        <td>@item.VendorName</td>
                        <td>@item.City</td>
                        <td>@item.StateName</td>
                        <td>@item.RefNo</td>
                        <td>@item.RefDate</td>
                      
                    </tr>
                }

            </tbody>
        </table>
    </div>
}
else
{
    <h3 style="color:firebrick;text-align:center">Records not Found!!!</h3>
}
<script>
    $(document).ready(function () {
        $('#tblSearchInvoiceList').paging({
            limit: 10,
            rowDisplayStyle: 'block',
            activePage: 0,
            rows: []
        });

    });
</script>