@model List<Portal.Core.ViewModel.ProductQuantityCountViewModel>
@if (Model != null && Model.Count > 0)
{
    <div class="int-dash">
        <table class="table" id="tblReorderProductCountList" style="margin-top:10px;">
            <thead style="border-top-left-radius:15px;">
                <tr style="border:none;">
                    <th style="background:#68ae00; color:#fff;" colspan="8">Stock Summary as on @DateTime.Now.ToString("dd-MMM-yyyy")</th> 
                </tr>
                <tr style="background:#D0DDEC; border:1px solid #ccc;" >
                    <th style="text-align:center">Product</th>
                    <th style="text-align:center">Code</th>
                    <th style="text-align:center">Opening Qty</th> 
                    <th style="text-align:center">Purchase Qty</th> 
                    <th style="text-align:center">Sale Qty</th> 
                    <th style="text-align:center">STN Qty</th> 
                    <Th style="text-align:center">STR Qty</Th>
                    <Th style="text-align:center">Closing Qty</Th>
                </tr>
               
            </thead>
            <tbody style="border:1px solid #ccc;">
                @foreach (var item in Model)
                {
                <tr class="success">
                    <td>@item.ProductName</td>
                    <td>@item.ProductCode</td>
                    <td>@item.OpeningQty</td>
                    <td>@item.PurchaseQty</td>
                    <td>@item.SaleQty</td>
                    <td>@item.STNQty</td>
                    <td>@item.STRQty</td>
                    <td>@item.ClosingQty</td>
                </tr>
                }
                <tr>
        <td colspan="8" align="center">
            <a href="@Url.Content("~/StockLedger/PrintStockLedger")">View All Stock Summary</a>
        </td>
    </tr>
            </tbody>
        </table>
    </div>

}
else
{
    <h3 style="color:firebrick;text-align:center">Stock Summary Not Found !!!</h3>
}
@*<script>
    $(document).ready(function () {
        $('#tblReorderProductCountList').paging({
            limit: 10,
            rowDisplayStyle: 'block',
            activePage: 0,
            rows: []
        });

    });
</script>*@