@model List<Portal.Core.ViewModel.SOPendingViewModel>
@if (Model != null && Model.Count > 0)
{
    <div style="padding:10px;">
        <table class="table int-product" id="tblSINPendingCountList" style="margin-top:10px;">
            <thead style="border-top-left-radius:15px;">
                <tr style="border:none;">
                    <th style="background:#4f75c6; color:#fff;" colspan="8">Pending Sale Order For Work Order</th>
                </tr>
                <tr style="background:#D0DDEC; border:1px solid #ccc;">
                    <th style="text-align:center">SO No</th>
                    <th style="text-align:center">SO Date</th>                   
                    <th style="text-align:center">Customer Name</th>
                    <th style="text-align:center">Customer Code</th>
                    <th style="text-align:center">Created By</th>
                </tr>

            </thead>
            <tbody style="border:1px solid #ccc;">
                @foreach (var item in Model)
                {
                    <tr class="success">
                        <td align="center">
                            <a href="@Url.Content("~/WorkOrder/AddEditWorkOrder")" target="_blank">
                                @item.SONo
                            </a>
                        </td>
                        <td align="center">@item.SODate </td>                       
                        <td style="text-align:left !important;">@item.CustomerName</td>
                        <td align="center">@item.CustomerCode</td>
                        <td align="center">@item.CreatedByName</td>

                    </tr>
                }
                <tr>
                    <td colspan="8" align="center" style="background:#bfdfff;">
                        <a href="@Url.Content("~/SO/ListSO?pendingStatus=Pending")"  target="_blank">View All Pending Sale Order</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

}
else
{
    <h3 style="color:firebrick;text-align:center">Pending SO Not Found !!!</h3>
}
@*<script>
        $(document).ready(function () {
            $('#tblSINPendingCountList').paging({SIN/AddEditSIN
                limit:5,
                rowDisplayStyle: 'block',
                activePage: 0,
                rows: []
            });

        });
    </script>*@