@model List<Portal.Core.ViewModel.WorkOrderViewModel>
@if (Model != null && Model.Count > 0)
{
    <div style="padding:10px;">
        <table class="table int-product" id="tblSINPendingCountList" style="margin-top:10px;">
            <thead style="border-top-left-radius:15px;">
                <tr style="border:none;">
                    <th style="background:#4f75c6; color:#fff;" colspan="8">Work Order In Progress</th>
                </tr>
                <tr style="background:#D0DDEC; border:1px solid #ccc;">
                    <th style="text-align:center">PPC No.</th>
                    <th style="text-align:center">SO No.</th>                                     
                    <th style="text-align:center">PPC QTY.</th>              
                    <th style="text-align:center">Finished Good QTY.</th>
                </tr>

            </thead>
            <tbody style="border:1px solid #ccc;">
                @foreach (var item in Model)
                {
                    <tr class="success">
                        <td align="center">

                            @item.WorkOrderNo

                        </td>
                        <td align="center">
                           
                                @item.SONo
                            
                        </td>
                                              
                        <td style="text-align:center;">@item.WOQTY</td>                       
                        <td align="center">@item.FinishedGoodQTY</td>

                    </tr>
                }
                @*<tr>
                    <td colspan="8" align="center" style="background:#bfdfff;">
                        <a href="@Url.Content("~/WorkOrder/ListWorkOrder")"  target="_blank">View All Pending Work Order</a>
                    </td>
                </tr>*@
            </tbody>
        </table>
    </div>

}
else
{
    <h3 style="color:firebrick;text-align:center">Pending WO Not Found !!!</h3>
}
