@{
    ViewBag.Title = "Production Dashboard";
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
}
<style>
    .crm-box {
        width: 31%;
    }

    .crm-box-1 {
        margin-left: 0px;
        width: 32%;
    }

    @@media(max-width:767px) {

        .crm-box {
            width: 100% !important;
        }

        .crm-box-1 {
            width: 100% !important;
        }
    }
</style>
<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<div id="wrapper">
    <div id="page-content-wrapper" style="padding-top:5px !important;">
        <div class="page-content">
            <div class="container-fluid">

                

                <div class="row top-head">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-6" style="margin-top: 5px;margin-bottom:5px">
                        <b><label for="ddlFinYear" class="col-sm-4" style="margin-top: 5px;color:#fff">Financial </label></b>
                        <div class="col-sm-8">
                            <select id="ddlFinYear" name="ddlFinYear" onchange="SetFinancialYearSession()" tabindex="1" class="form-control"></select>
                            <input type="hidden" id="hdnCurrentFinyearId" value="@ViewData["currentFinyearId"]" />

                        </div>
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7" id="DivPendingSOCount">

                    </div>
                    <div class="col-md-5" id="DivProductionReport">

                    </div>

                </div>
                <div class="row">
                    <div class="col-md-7" id="DivPendingWOCount">

                    </div>
                    <div class="col-md-5" id="Div">

                    </div>

                </div>
                <div class="row" style="display:none;">

                    <div class="market-updates" style="clear:both;margin-top: 10px;">

                        <a href="#" target="_blank">
                            <div class="col-md-4 col-xs-12 col-sm-4 col-lg-4 market-update-gd crm-box-1">
                                <div class="market-update-block clr-block-2">
                                    <div class="col-md-8 col-sm-8 col-xs-12 col-lg-8 market-update-left">
                                        <p style="font-size:14px;"><b>Today New Product</b></p>
                                        <H4>&nbsp;</H4>


                                        <h3>@ViewData["todayProductCount"]</h3>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4 market-update-right">
                                        <i class="fa fa-plus-circle" style="font-size: 73px;color: #fff;"> </i>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                            </div>
                        </a>
                        <a href="@Url.Content("~/Product/ListProduct")" target="_blank">
                            <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4 market-update-gd crm-box-1">
                                <div class="market-update-block clr-block-2" style="background-color:#4f75c6">
                                    <div class="col-md-8 col-sm-8 col-xs-8 col-lg-8 market-update-left">
                                        <p style="font-size:14px;"><b>Total Product</b></p>
                                        <H4>&nbsp;</H4>
                                        <h3>@ViewData["totalProductCount"]</h3>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4 market-update-right">
                                        <i class="fa fa-file-text-o"> </i>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                            </div>
                        </a>
                        <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4 climate-grids crm-box-1" style="background:#fff; padding-right: 0;">
                            <div class="climate-grid3">
                                <div class="popular-brand" style="margin-top:18px;">
                                    <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6 popular-bran-left">
                                        <h4><i aria-hidden="true"></i><a href="@Url.Content("~/Product/AddEditProduct")" target="_blank">Add New Product</a></h4>
                                        <h4><i aria-hidden="true"></i><a href="@Url.Content("~/ProductOpeningStock/AddEditProductOpening")" target="_blank">Add Product Opening</a></h4>
                                        <h4><i aria-hidden="true"></i><a href="@Url.Content("~/Product/ListProduct" )" target="_blank">Product List</a></h4>

                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6 popular-bran-right" style="margin-top:-19px; background-color:#4a9a79; min-height: 132px;">
                                        <h3 style="margin-top:-33px; background-color:#4a9a79; margin-right: -2px;"><i class="fa fa-link" aria-hidden="true" style="color: white;font-size: 38px; margin-top: 16px;"></i></h3>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>

                            </div>
                        </div>


                    </div>
                    
                   
                </div>
                

            </div>
        </div>
        <!--end body content -->
    </div>
</div>

<script src="~/Scripts/jquery-ui.min.js"></script>
<script src="~/Scripts/paging.js"></script>
<script src="~/Scripts/Dashboard/StoreDashboard.js"></script>

