@{
    ViewBag.Title = "Add/Edit PackingMaterialBOM";
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
}
<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<style>
    .Mandatory {
        color: red;
        font-weight: bold;
    }

    fieldset.scheduler-border {
        border: 1px groove #ddd !important;
        padding: 0 1.4em 1.4em 1.4em !important;
        margin: 0 0 1.5em 0 !important;
        -webkit-box-shadow: 0px 0px 0px 0px #000;
        box-shadow: 0px 0px 0px 0px #000;
    }

    legend {
        display: block;
        width: 40%;
        padding: 0;
        margin-bottom: 5px;
        font-size: 15px;
        line-height: inherit;
        color: #333;
        border: 0;
        border-bottom: 0px solid #e5e5e5;
    }
    /*** custom checkboxes ***/

    input[type=checkbox] {
        display: none;
    }
        /* to hide the checkbox itself */
        input[type=checkbox] + label:before {
            font-family: FontAwesome;
            display: inline-block;
        }

        input[type=checkbox] + label:before {
            content: "\f096";
        }
        /* unchecked icon */
        input[type=checkbox] + label:before {
            letter-spacing: 10px;
        }
        /* space between checkbox and label */

        input[type=checkbox]:checked + label:before {
            content: "\f046";
        }
        /* checked icon */
        input[type=checkbox]:checked + label:before {
            letter-spacing: 5px;
        }
    /* allow space for check mark */
</style>
<style type="text/css">
      table tr:nth-child(2n+1) {
    background-color: #D8EED8 !important;
}
    table tr:nth-child(2n) {
    background-color: #D8EED8 !important;
}
</style>
<div class="row top-head">
    <div class="col-md-12"><p><b><a style="color:#fff;" href="~/Dashboard/StoreDashboard">Production </a> >> Add/Edit Packing Material BOM</b></p></div>
</div>
<section>
    <form action="#" id="frmAddEditPackingMaterialBOM" class="form-horizontal as" enctype="multipart/form-data" method="post" accept-charset="utf-8">
        <div class="row inner">
            <div class="message">
            </div>
            <div id="tabs">
                <ul>
                    <li><a href="#tabs-1">Packing Material BOM Detail</a></li>
                </ul>
                <div id="tabs-1">
                    <div class="col-md-12 ftop">
                        <div class="form-group col-md-4">
                            <label for="txtPMBNo" class="col-sm-4 control-label">Packing Material BOM No.</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="txtPMBNo" tabindex="1" name="txtPMBNo" placeholder="Auto Generated Packing Material BOM No." type="text" maxlength="100" />
                                <a style="display:none;color:#fff;" class="btn btn-success" id="btnAddNew" href="@Url.Content("~/PackingMaterialBOM/AddEditPackingMaterialBOM?accessMode=1")">New</a>
                                @*<a style="display:none;color:#fff;" class="btn btn-success" id="btnEmail" onclick="SendMail()">Email</a>*@
                                <a style="display:none;color:#fff;" class="btn btn-success" target="_blank" href="@Url.Action("Report",new {pMBId=ViewData["pMBId"], reportType="PDF" })" id="btnPrint">Print</a>
                                <input id="hdnPMBId" type="hidden" value="@ViewData["pMBId"]" />
                                <input id="hdnAccessMode" type="hidden" value="@ViewData["accessMode"]" />
                                
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="txtPMBDate" class="col-sm-4 control-label">Packing Material BOM Date</label>
                            <div class="col-sm-8 ">
                                <input class="form-control" id="txtPMBDate" name="txtPMBDate" tabindex="2" placeholder="Select Work Order Date" value="@ViewData["currentDate"]" type="text" maxlength="50" />
                                <input id="hdnCurrentDate" name="hdnCurrentDate" value="@ViewData["currentDate"]" type="hidden" />
                            </div>
                        </div>

                        <div class="form-group col-md-4 ">
                            <label for="ddlPackingListType" class="col-sm-4 control-label">Packing List Type&nbsp;<span class="Mandatory">(*)</span></label>
                            <div class="col-sm-8">
                                <select id="ddlPackingListType" name="ddlPackingListType" tabindex="3" class="form-control"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group col-md-4 ">
                            <label for="ddlProductSubGroup" class="col-sm-4 control-label">Product Sub Group&nbsp;<span class="Mandatory">(*)</span></label>
                            <div class="col-sm-8">
                                <select id="ddlProductSubGroup" name="ddlProductSubGroup" tabindex="3" class="form-control"></select>
                            </div>
                        </div>
                        <div class="form-group col-md-4" style="display:none;">
                            <label for="ddlCompanyBranch" class="col-sm-4 control-label">Company Branch</label>
                            <div class="col-sm-8">
                                <select id="ddlCompanyBranch" name="ddlCompanyBranch" tabindex="12" class="form-control"></select>
                                <input id="hdnSessionCompanyBranchId" type="hidden" value="@ViewData["CompanyBranchId"]" />
                                <input id="hdnSessionUserID" type="hidden" value="@ViewData["UserId"]" /> 
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12" id="divCreated" style="display:none;">
                        <div class="form-group col-md-6">
                            <label for="txtCreatedBy" class="col-sm-4 control-label">Created By</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="txtCreatedBy" name="txtCreatedBy" tabindex="4" placeholder="Created By User Name" type="text" maxlength="100" />
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="txtCreatedDate" class="col-sm-4 control-label">Created Date</label>
                            <div class="col-sm-8 ">
                                <input class="form-control" id="txtCreatedDate" name="txtCreatedDate" tabindex="5" placeholder="Created Date" type="text" maxlength="50" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" id="divModified" style="display:none;">
                        <div class="form-group col-md-6">
                            <label for="txtModifiedBy" class="col-sm-4 control-label">Modified By</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="txtModifiedBy" name="txtModifiedBy" tabindex="6" placeholder="Modified By User Name" type="text" maxlength="100" />
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="txtModifiedDate" class="col-sm-4 control-label">Modified Date</label>
                            <div class="col-sm-8 ">
                                <input class="form-control" id="txtModifiedDate" name="txtModifiedDate" tabindex="7" placeholder="Modified Date" type="text" maxlength="50" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12  ftop">
                        <div class="form-group col-md-4">

                        </div>
                        <div class="form-group col-md-4" style="background-color:yellow">
                            <h4><label class="col-sm-12 " style="color:#000;text-decoration:underline;text-align:center;"><b>Product Detail</b></label></h4>
                        </div>
                        <div class="form-group col-md-4">
                            <input class="btn btn-success editonly" value="Add New Product" tabindex="8" alt="Add New Product" id="btnAddNewProduct" onclick="ShowHideProductPanel(1)" type="button" border="0">
                        </div>

                    </div>
                    <div class="col-md-12 productsection" style="display:none;">
                        <div class="form-group col-md-4">
                            <label for="txtProductName" class="col-sm-4 control-label">Product Name&nbsp;<span class="Mandatory">(*)</span></label>
                            <div class="col-sm-8">
                                <input class="form-control" id="txtProductName" name="txtProductName" tabindex="9" placeholder="Enter Product Name" type="text" maxlength="100" />
                                <input id="hdnProductId" type="hidden" value="0" />
                                <input id="hdnWorkOrderProductDetailId" type="hidden" value="0" />
                                <input id="hdnSequenceNo" type="hidden" value="0" />
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="txtProductCode" class="col-sm-4 control-label">Product Code</label>
                            <div class="col-sm-8">
                                <input id="txtProductCode" name="txtProductCode" tabindex="10" type="text" maxlength="50" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="txtProductShortDesc" class="col-sm-4 control-label">Product Desc</label>
                            <div class="col-sm-8">
                                <input id="txtProductShortDesc" name="txtProductShortDesc" type="text" tabindex="11" maxlength="250" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 productsection" style="display:none;">
                        <div class="form-group col-md-4">
                            <label for="txtQuantity" class="col-sm-4 control-label">Quantity&nbsp;<span class="Mandatory">(*)</span></label>
                            <div class="col-sm-8">
                                <input id="txtQuantity" name="txtQuantity" tabindex="12" type="text" onkeyup="checkDec(this);" maxlength="9" placeholder="Quantity" class="form-control right-text input-number" />
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="txtUOMName" class="col-sm-4 control-label">Unit</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="txtUOMName" name="txtUOMName" tabindex="13" placeholder="Unit" type="text" maxlength="50" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-12 col-md-12 productsection" style="display:none;">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <center>
                                <input class="btn btn-success" value="Add Product" alt="Add Product" id="btnAddProduct" tabindex="14" onclick="AddProduct(1)" type="button" border="0">
                                <input class="btn btn-success" value="Update Product" style="display:none;" alt="Update Product" tabindex="15" id="btnUpdateProduct" onclick="AddProduct(2)" type="button" border="0">
                                <input class="btn btn-success" type="button" id="btnCancelProduct" tabindex="16" onclick="ShowHideProductPanel(2)" value="Cancel" />
                            </center>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="col-sm-12 col-lg-12 col-md-12">
                        <div id="divProductList">

                        </div>
                    </div>
                </div>
            </div>


            <div class="row col-sm-12 col-lg-12 col-md-12 ftop">
                <div class="col-md-3">
                    @*<label for="ddlApprovalStatus" class="col-sm-6 control-label">Save Mode</label>
                    <div class="col-sm-6">
                        <select id="ddlApprovalStatus" name="ddlApprovalStatus" tabindex="40" class="form-control">                           
                            <option selected="selected" value="Draft">Draft</option>
                            <option  value="Final">Final</option>
                        </select>

                    </div>*@
                </div>
                <div class="col-md-6">
                    <center>
                        <input class="btn btn-success" value="Save" alt="Save" id="btnSave" tabindex="17" onclick="SaveData();" type="button" border="0">
                        <input class="btn btn-success" value="Update" style="display:none;" tabindex="17" alt="Update" id="btnUpdate" onclick="SaveData()" type="button" border="0">
                        <input class="btn btn-success" type="button" id="btnReset" tabindex="20" onclick="ClearFields()" value="Reset" />
                        <a class="btn btn-success" id="btnList" tabindex="21" href="@Url.Content("~/PackingMaterialBOM/ListPackingMaterialBOM")">Search Packing Material BOM</a>
                    </center>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="alertModel" tabindex="18"  role="dialog">
            <div class="modal-dialog  modal-sm">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" tabindex="19"  data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" id="modelHeader"></h4>
                    </div>
                    <div class="modal-body">
                        <p id="modelText"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary  btn-block" tabindex="19"  data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </form>
</section>

<script src="~/Scripts/jquery-ui.js"></script>
<script src="~/Scripts/Common.js"></script>
<script src="~/Scripts/PackingMaterialBOM/AddPackingMaterialBOM.js"></script>

