@model List<Portal.Core.ViewModel.PrintChasisDetailViewModel>
<script src="~/Scripts/jquery.tablesorter.js"></script>
<style>
    .table th {
        background: rgba(0, 0, 0, 0) linear-gradient(#375CB0, #6e96e2) repeat scroll 0 0;
        color: #fff;
    }
</style>
@if (Model != null && Model.Count > 0)
{
    <div>
        <table class="table table-bordered table-hover" id="tblPrintChasis" style="width:92%;">
            <thead>
                <tr>
                    <th>
                        <center>
                            Checked
                            <input type="checkbox" name="chkAllPrintChasis" id="chkAllPrintChasis" class="chkAllPrintChasis" />
                        </center>
                    </th>
                    <th style="display:none;" id="thPopUpProductName" class="thPopUpProductName"><center>Product Name</center></th>
                    @*<th><center>S.No.</center></th>*@
                    <th><center>Chasis Serial No.</center></th>
                    <th><center>Motor No.</center></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                    <tr class="success">
                        <td>
                            <center>
                                <input type="checkbox" name="chkPrintChasis" id="chkPrintChasis_@item.PrintDetailID" class="chkChasis" />
                            </center>
                        </td>
                        @*<td align="center">@item.SequenceNo</td>*@
                        <td align="center" style="display:none;" id="tdPopUpProductName" class="tdPopUpProductName"><span id="spnPopUpProductName" class="spnPopUpProductName"></span></td>
                        <td align="center">
                            @item.ChasisSerialNo
                            <input type="hidden" id="hdnChasisSerialNo" value="@item.ChasisSerialNo.Trim()" />
                            <input type="hidden" id="hdnPrintChasisSerialId" value="@item.PrintDetailID" />
                            <input type="hidden" id="hdnPopUpChasisProductId" value="0" class="hdnPopUpChasisProductId" />
                            <input type="hidden" id="hdnTempProductId" value="0" />
                            <input type="hidden" id="hdnTempProductName" value="0" />
                        </td>
                        <td align="center">
                            @item.MotorNo
                            <input type="hidden" id="hdnMotorNo" value="@item.ChasisSerialNo.Trim()" />
                        </td>

                    </tr>

                }

            </tbody>
        </table>
    </div>
}
else
{
    <h3 style="color:firebrick;text-align:center">Records not Found!!!</h3>
}
<script>
    $(document).ready(function () {
        $('#tblPrintChasis').paging({
            limit: 10,
            rowDisplayStyle: 'block',
            activePage: 0,
            rows: []
        });

    });
</script>

<script>
    $(document).ready(function () {

        $("#chkAllPrintChasis").click(function () {
            if ($(this).is(":checked")) {
                $('input:checkbox').not(this).prop('checked', this.checked);
                $(".hdnPopUpChasisProductId").val($("#hdnTempProductId").val());
                $(".spnPopUpProductName").text($("#hdnTempProductName").val());
                $(".thPopUpProductName").css('display', 'table-cell');
                $(".tdPopUpProductName").css('display', 'table-cell');
            }
            else if (!$(this).is(":checked")) {
                $('input:checkbox').not(this).prop('checked', false);
                $(".hdnPopUpChasisProductId").val(0);
                $(".spnPopUpProductName").text("");
            }
        });

        //$(".chkChasis").click(function () {
        //    if ($(".chkChasis").length == $(".chkChasis:checked").length) {
        //        $("#chkAllIndent").attr("checked", "checked");
        //    }
        //    else {
        //        $("#chkAllIndent").removeAttr("checked");
        //    }
        //});

        $(".chkChasis").click(function () {
            if ($(this).is(":checked")) {
                var row = $(this).closest("tr");
                $(row).find(".hdnPopUpChasisProductId").val($("#hdnTempProductId").val());
                $(row).find(".spnPopUpProductName").text($("#hdnTempProductName").val());
                $(".thPopUpProductName").css('display', 'table-cell');
                $(".tdPopUpProductName").css('display', 'table-cell');
            }
            else if (!$(this).is(":checked")) {
                var row = $(this).closest("tr");
                $(row).find(".hdnPopUpChasisProductId").val(0);
                $(row).find(".spnPopUpProductName").text("");
            }
        });

        //$('.chkChasis').on('change', function () {
        //    if ($('.chkChasis').prop('checked')) {
        //        //$(this).prop('disabled', true);
        //        var row = $(this).closest("tr");
        //        $(row).find(".hdnPopUpChasisProductId").val($("#hdnTempProductId").val());
        //        $(row).find(".spnPopUpProductName").text($("#hdnTempProductName").val());
        //        $(".thPopUpProductName").css('display', 'table-cell');
        //        $(".tdPopUpProductName").css('display', 'table-cell');
        //    }
        //    else {
        //        var row = $(this).closest("tr");
        //        $(row).find(".hdnPopUpChasisProductId").val(0);
        //        $(row).find(".spnPopUpProductName").text("");
        //    }
        //});
    });


</script>
