@{
    ViewBag.Title = "List Roster";
    Layout = "~/Views/Shared/_HRLayout.cshtml";
}
<style>
 .table th {
        background: rgba(0, 0, 0, 0) linear-gradient(#375CB0, #6e96e2) repeat scroll 0 0;
    }

    .table th {
        color: #ffffff;
        text-align: center;
    }

    .table tr {
        text-align: center;
    }
table tr:nth-child(2n+1) {
    
    background-color: #dbe5f7;
    }

     table tr:nth-child(2n) {
    
    background-color: #dbe5f7;
    }

</style>
<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<div class="row top-head">
    <div class="col-md-12"><p><b><a style="color:#fff;" href="~/Dashboard/HRDashboard">HR</a> >> List Roster </b></p></div>
</div>
<section>
    <form action="#" id="frmAddEditRoaster" class="form-horizontal as" enctype="multipart/form-data" method="post" accept-charset="utf-8">
        <div class="row inner">
            <div class="message">

            </div>
            <div class="col-md-12 ftop">
                <div class="form-group col-md-6">
                    <label for="txtRoasterName" class="col-sm-4 control-label">Roster Name</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="txtRoasterName" name="txtRoasterName" tabindex="1" placeholder="Search with Roaster Name" type="text" maxlength="100" />
                        <input id="hdnRoasterID" type="hidden" value="@ViewData["roasterId"]" />
                        <input id="hdnAccessMode" type="hidden" value="@ViewData["accessMode"]" />
                    </div>
                </div> 
                <div class="form-group col-md-6">
                    <label for="txtRoasterType" class="col-sm-4 control-label">Roster Type</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="txtRoasterType" name="txtRoasterType" tabindex="2" placeholder="Search with Roaster Type" type="text" maxlength="100" />
                    </div>
                </div>
            </div> 

       
            <div class="col-md-12">  
                <div class="form-group col-md-6">
                    <label for="ddlDepartment" class="col-sm-4 control-label">Department</label>
                    <div class="col-sm-8">
                        <select id="ddlDepartment" name="ddlDepartment" tabindex="3" class="form-control"></select>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="ddlStatus" class="col-sm-4 control-label">Status</label>
                    <div class="col-sm-8">
                        <select name="ddlStatus" class="form-control" tabindex="4" id="ddlStatus">
                            <option value="">All</option>
                            <option value="1">Active</option>
                            <option value="0">InActive</option>
                        </select>
                    </div>
                </div>
            </div> 
            <div class="col-md-12">
                <div class="form-group col-md-6">
                    <label for="txtFromDate" class="col-sm-4 control-label">From Date</label>
                    <div class="col-sm-8 ">
                        <input class="form-control" id="txtFromDate" name="txtFromDate" tabindex="5" value="@ViewData["fromDate"]" type="text" maxlength="50" />
                        <input id="hdnFromDate" name="hdnFromDate" value="@ViewData["fromDate"]" type="hidden" />
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="txtToDate" class="col-sm-4 control-label">To Date</label>
                    <div class="col-sm-8 ">
                        <input class="form-control" id="txtToDate" name="txtToDate" tabindex="6" value="@ViewData["toDate"]" type="text" maxlength="50" />
                        <input id="hdnToDate" name="hdnToDate" value="@ViewData["toDate"]" type="hidden" />
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group col-md-6">
                    <label for="ddlCompanyBranch" class="col-sm-4 control-label">Company Branch</label>
                    <div class="col-sm-8">
                        <select id="ddlCompanyBranch" name="ddlCompanyBranch" tabindex="46" onchange="GetBranchStateId()" class="form-control"></select>
                        <input id="hdnBillingStateId" type="hidden" value="0" />
                        <input id="hdnSessionCompanyBranchId" type="hidden" value="@ViewData["CompanyBranchId"]" />
                        <input id="hdnSessionUserID" type="hidden" value="@ViewData["UserId"]" />
                    </div>
                </div>
            </div>


                <div class="row col-sm-6 col-lg-12 col-md-12">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <center>
                            <input class="btn btn-success" value="Search" alt="Save" tabindex="7" id="btnSearch" onclick="SearchRoaster()" type="button" border="0">&nbsp;&nbsp;
                            <input class="btn btn-success" type="button" tabindex="8" id="btnReset" onclick="ClearFields()" value="Reset" /> &nbsp;&nbsp;
                            <a class="btn btn-success" id="btnList" tabindex="9" href="@Url.Content("~/Roaster/AddEditRoaster?accessMode=1")">Add More Roster</a>
                        </center>
                    </div>
                    <div class="col-md-3"></div>
                </div>
                <div class="row col-sm-6 col-lg-12 col-md-12">
                    <div id="divList">

                    </div>
                </div>
            </div>
        <!-- Modal -->
        <div class="modal fade" id="alertModel" role="dialog">
            <div class="modal-dialog  modal-sm">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" id="modelHeader"></h4>
                    </div>
                    <div class="modal-body">
                        <p id="modelText"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary  btn-block" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </form>
</section>
<script src="~/Scripts/Roaster/ListRoaster.js"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>
<script src="~/Scripts/paging.js"></script>